@mixin textset($color,$fontfam,$fontsize,$ltrspc,$lineht){
	color: $color;
	font-family: $fontfam;
	font-size: $fontsize;
	letter-spacing: $ltrspc;
	line-height: $lineht;
}
@mixin animate($name, $dur, $delay, $iter, $timing){
	-webkit-animation-timing-function: $timing;
		animation-timing-function: $timing;	
	-webkit-animation-delay: $delay;
		animation-delay: $delay;
	-webkit-animation-duration: $dur;
		animation-duration: $dur;
	-webkit-animation-iteration-count: $iter;
		animation-iteration-count: $iter;
	-webkit-animation-name: $name;
		animation-name: $name;
}
@mixin clock($num){
  #{$num}% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  #{$num+1}% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }  
  #{$num+2}% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  #{$num+3}% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }  
  #{$num+4}% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  #{$num+5}% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  #{$num+6}% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  #{$num+7}% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }  
  #{$num+8}% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  #{$num+9}% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}
@mixin bell($num, $deg){
  #{$num}% {
    -webkit-transform: rotate(#{$deg+5}deg);
            transform: rotate(#{$deg+5}deg);
  }
  #{$num+1}% {
    -webkit-transform: rotate(#{$deg}deg);
            transform: rotate(#{$deg}deg);
  }  
  #{$num+2}% {
    -webkit-transform: rotate(#{$deg+10}deg);
            transform: rotate(#{$deg+10}deg);
  }
  #{$num+3}% {
    -webkit-transform: rotate(#{$deg+5}deg);
            transform: rotate(#{$deg+5}deg);
  }  
  #{$num+4}% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  #{$num+5}% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  #{$num+6}% {
    -webkit-transform: rotate(-#{$deg+5}deg);
            transform: rotate(-#{$deg+5}deg);
  }
  #{$num+7}% {
    -webkit-transform: rotate(-#{$deg}deg);
            transform: rotate(-#{$deg}deg);
  }  
  #{$num+8}% {
    -webkit-transform: rotate(-#{$deg+10}deg);
            transform: rotate(-#{$deg+10}deg);
  }
  #{$num+9}% {
    -webkit-transform: rotate(-#{$deg+5}deg);
            transform: rotate(-#{$deg+5}deg);
  }  
}

@-webkit-keyframes progressHalf {
	0%{
		width: 0%;
	}
	100%{
		width: 50%;
	}
}
@keyframes progressHalf {
	0%{
		width: 0%;
	}
	100%{
	width: 50%;
	}
}

@-webkit-keyframes progressFull {
	0%{
		width: 50%;
	}
	100%{
		width: 100%;
	}
}
@keyframes progressFull {
	0%{
		width: 50%;
	}
	100%{
		width: 100%;
	}
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10eg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes cubemove {
  5% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}
@keyframes cubemove {
  5% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes blinker {
	10%{ opacity : 0.1; font-size:18px;}
	16%{ opacity : 0.6; font-size:15px;}
	22%{ opacity : 0.7; font-size:18px;}
	38%{ opacity : 0.2; font-size:15px;}
	46%{ opacity : 0.9; font-size:18px;}
	59%{ opacity : 0.3; font-size:15px;}
	62%{ opacity : 0.4; font-size:18px;}
	78%{ opacity : 0.2; font-size:15px;}
	85%{ opacity : 0.3; font-size:18px;}
	99%{ opacity : 0.9; font-size:15px;}
}
@keyframes blinker {
	10%{ opacity : 0.1; font-size:18px;}
	16%{ opacity : 0.6; font-size:15px;}
	22%{ opacity : 0.7; font-size:18px;}
	38%{ opacity : 0.2; font-size:15px;}
	46%{ opacity : 0.9; font-size:18px;}
	59%{ opacity : 0.3; font-size:15px;}
	62%{ opacity : 0.4; font-size:18px;}
	78%{ opacity : 0.2; font-size:15px;}
	85%{ opacity : 0.3; font-size:18px;}
	99%{ opacity : 0.9; font-size:15px;}
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}
@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
          animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}




@-webkit-keyframes dol {
  0% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
  10% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
  30% {
    @include transform( matrix(1.2,0,0,1.2,0,0) );
  }
  50% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
  70% {
    @include transform( matrix(1.3,0,0,1.3,0,0) );
  }  
  90% {
    @include transform( matrix(1,0,0,1,0,0) );
  }  
  100% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
}
@keyframes dol {
  0% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
  10% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
  30% {
    @include transform( matrix(1.2,0,0,1.2,0,0) );
  }
  50% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
  70% {
    @include transform( matrix(1.3,0,0,1.3,0,0) );
  }  
  90% {
    @include transform( matrix(1,0,0,1,0,0) );
  }  
  100% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
}

@-webkit-keyframes clock {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  @include bell(11, 15);
  @include bell(21, 15);
  @include bell(31, 15);
  @include bell(41, 15);
  @include bell(51, 15);
  @include bell(61, 15);
  @include bell(71, 15);
  @include bell(81, 15);

  91% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }  
}
@keyframes clock {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  @include bell(11, 15);
  @include bell(21, 15);
  @include bell(31, 15);
  @include bell(41, 15);
  @include bell(51, 15);
  @include bell(61, 15);
  @include bell(71, 15);
  @include bell(81, 15);

  91% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }  
}

@-webkit-keyframes bell {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  @include bell(11, 5);
  @include bell(21, 5);
  @include bell(31, 5);
  @include bell(41, 5);
  @include bell(51, 5);
  @include bell(61, 5);
  @include bell(71, 5);
  @include bell(81, 5);

  91% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }  
}
@keyframes bell {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  @include bell(11, 5);
  @include bell(21, 5);
  @include bell(31, 5);
  @include bell(41, 5);
  @include bell(51, 5);
  @include bell(61, 5);
  @include bell(71, 5);
  @include bell(81, 5);

  91% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }  
}

@-webkit-keyframes tas {
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);    
  }
  @include bell(1, -2.5);
  @include bell(11, -2.5);
  @include bell(21, -2.5);
  @include bell(31, -2.5);
  @include bell(41, -2.5);
  @include bell(51, -2.5);
  @include bell(61, -2.5);
  @include bell(71, -2.5);
  @include bell(81, -2.5);
  @include bell(91, -2.5);
  100%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);    
  }
}
@keyframes tas {
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);    
  }
  @include bell(1, -2.5);
  @include bell(11, -2.5);
  @include bell(21, -2.5);
  @include bell(31, -2.5);
  @include bell(41, -2.5);
  @include bell(51, -2.5);
  @include bell(61, -2.5);
  @include bell(71, -2.5);
  @include bell(81, -2.5);
  @include bell(91, -2.5);
  100%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);    
  }
}

@-webkit-keyframes headd {
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);    
  }
  25%{
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg);    
  }
  50%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);    
  }
  75%{
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);    
  }
  100%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);    
  }
}
@keyframes headd {
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);    
  }
  25%{
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg);    
  }
  50%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);    
  }
  75%{
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);    
  }
  100%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);    
  }
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }

  55% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  65% {
    opacity: 1;
    -webkit-transform: translate3d(0, 15px, 0);
            transform: translate3d(0, 15px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }

  55% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  65% {
    opacity: 1;
    -webkit-transform: translate3d(0, 15px, 0);
            transform: translate3d(0, 15px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes sociala {
  0% {
    @include transform( matrix(1,0,0,1,40,40) );
  }
  100% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
}
@keyframes sociala {
  0% {
    @include transform( matrix(1,0,0,1,40,40) );
  }
  100% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
}

@-webkit-keyframes socialb {
  0% {
    @include transform( matrix(1,0,0,1,0,40) );
  }
  100% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
}
@keyframes socialb {
  0% {
    @include transform( matrix(1,0,0,1,0,40) );
  }
  100% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
}

@-webkit-keyframes socialc {
  0% {
    @include transform( matrix(1,0,0,1,-40,40) );
  }
  100% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
}
@keyframes socialc {
  0% {
    @include transform( matrix(1,0,0,1,-40,40) );
  }
  100% {
    @include transform( matrix(1,0,0,1,0,0) );
  }
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes open {
  0% {height: 0px;}
  100% {height: 290px;}
}
@keyframes open {
  0% {height: 0px;}
  100% {height: 290px;}
}