/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "_var";
@import "_mixins";

html{
	background-color: #080907;
	color: #000;
	font-family: $font-main;
	font-size: 20px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;	
	text-align: center;
	text-transform: uppercase;
}
*{
	@include box-sizing( border-box );
}
::-moz-selection { /* Code for Firefox */
    color: $yellow;
    background: #41444C;
}

::selection {
    color: $yellow; 
    background: #41444C;
}
.small{
	font-size: 1.45rem;
}
.dnone{
	display: none!important;
}
.highlight{
	color: $red;
}
.white{
	background-color: #fff;
}
.yellow{
	background-color: $yellow;
}
.green{
	background-color: $green;
}
.red{
	background-color: $red;
}
.tan{
	background-color: $tan;
}
.black{
	background-color: #000;
}
.full-width{
	padding: 0!important;
	width: 100%!important;
}
.required{
	color: red!important;
	padding: 0 0 10px;
	&:not(.dnone){
	    -webkit-animation-timing-function: linear;
	    	animation-timing-function: linear;	
		-webkit-animation-duration: 0.15s;
		      animation-duration: 0.15s;
		-webkit-animation-iteration-count: 1;
		      animation-iteration-count: 1;		
	}
	span{
		display: block;
	}
}
.angucomplete-holder{
	display: inline-block;
	margin: 0 auto;
	max-width: 718px;
	position: relative;
	width: 90%;
}
.angucomplete-dropdown{
	background-color: rgba(0,0,0,0.85);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	left: 0;
	max-height: 250px;
	overflow: scroll;
	padding: 15px 30px 0;
	position: absolute;
	top: 90px;
	width: 100%;
	z-index: 100000;
	@media all and (max-width: $tablet){
		font-size: 18px;
		top: 70px;
	}
	div{
		padding: 10px 0;
		@media all and (max-width: $tablet){
			padding: 5px 0;
		}
		&:hover{
			background-color: rgba(#000, 0.85);
			cursor: pointer;
		}
	}
}
.next{
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 25px;
	font-weight: 700;
	height: 53px;
	line-height: 53px;
	padding: 0 25px;
	
	@include transition(background-color 0.25s);
	&:hover{
		background-color: rgba(0,0,0,0.75);
		@include transition(background-color 0.25s);
	}
}
.main{
	&:before{
		content: '';
		display: inline-block;
		height: 100vh;
		vertical-align: middle;
		width: 0.1%;
	}
	&.complete{
		&:before{
			display: none;
		}
	}
	>article{
		display: inline-block;
		padding: 35px 0;
		vertical-align: middle;
		width: 95%;
	}
}
.tuition-views{
	position: relative;
	z-index: 2;
}
.slide{
	@extend .fadeInDownBig;
	-webkit-animation-duration: 0.1s;
	      animation-duration: 0.1s;
	-webkit-animation-fill-mode: both;
	      animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	      animation-iteration-count: 1;
	.icon{
		display: inline-block;
		max-height: 200px;
		max-width: 200px;
		width: 100%;
		@media all and (max-width: $tablet){
			max-height: 100px;
		}
	}
	h2{
		font-size: 35px;
		font-weight: 700;	
		@media all and (min-width: $tablet){
			font-size: 3vw;
		}
		span{
			display: block;
		}
	}
	input[type=text] {
		border-radius: 10px;
		@include box-shadow(0 0 0 rgba(0,0,0,0));
		margin: 45px 0 20px;
		border: none;
		cursor: auto;
		display: inline-block;
		font-size: 20px;
		font-weight: 700;
		height: 58px;
		letter-spacing: normal;
		line-height: 58px;
		outline: none;
		padding: 0 30px;
		position: relative;
		text-align: left;
		text-transform: uppercase;
		@include transition(all 0.30s ease-in-out);
		width: 100%;
		word-spacing: 0px;
		z-index: 10000000;
		@media all and (max-width: $desktop) and (min-width: $tablet){
			padding: 0 20px;
		}
		@media all and (max-width: $tablet){
			font-size: 14px;
			margin: 25px 0 20px;
			padding: 0 10px;
		}
	}
	&.area{
		input[type=text]:focus {
			@include box-shadow(0 0 15px $yellow);
			border: 1px solid $yellow;
		}
		.required{
			color: $yellow;
		}
		h2{
			font-size: 25px;
			@media all and (min-width: $tablet){
				font-size: 3vw;
			}
			@media all and (max-width: $tablet){
				span{
					display: inline;
				}
			}
		}
	}
	&.majors{
		input[type=text]:focus {
			@include box-shadow(0 0 15px $red);
			border: 1px solid $red;
		}
		.required{
			color: $red;
		}
	}
	&.school{
		input[type=text]:focus {
			@include box-shadow(0 0 15px $green);
			border: 1px solid $green;
		}
		.required{
			color: $green;
		}
	}
}
.fadeout{
	@include animate(fadeOut, 0.75s, 0, 1, linear);
}
.not-found{
	p{
		@include textset($yellow,$font-main,64px,0,1.2);
	}
	span{
		@include textset($red,$font-main,10px,0,1);
	}
	h1{
		@include textset(#fff,$font-main,48px,0,1.2);
	}
	h5{
		@include textset($red,$font-main,18px,1px,1.2);
	}
}
.welcome{
	white-space: pre-line;
	img{
		background-color: $yellow;
		display: inline-block;
		vertical-align: middle;
		max-width: 30%;
		height: 250px;
		width: auto;
		@include animate(fadeInDown, 0.5s, 0, 1, linear);
	}
	.img.center{
		display: inline-block;
		max-width: 30%;
		width: auto;
		img{
			max-width: 100%;
		}
		@media all and (min-width: $desktop){
			margin: 0 10px;
		}
	}
	.imgcnt{
		display: inline-block;
		height: 290px;
		overflow: hidden;
		padding: 0;
		white-space: normal;
		@include animate(open, 0.5s, 0, 1, linear);
	}
	h1{
		display: inline-block;
		max-width: 825px;
		@include textset(#fff,$font-main,75px,0,1);
		text-transform: uppercase;
		white-space: initial;
		span{
			display: block;
		}
		.sm.yell{
			@include textset($yellow,$font-main,45px,0,1);
		}
	}
	h3{
		display: inline-block;
		max-width: 775px;
		padding: 0 0 25px;
		@include textset(#fff,$font-main,33px,0,1.2);
	}
	.started{
		background-color: $red;
		border-radius: 10px;
		cursor: pointer;
		display: inline-block;
		height: 75px;
		max-width: 300px;
		opacity: 0;
		@include textset(#fff,$font-main,35px,0,75px);
		text-transform: uppercase;
		@include transition(opacity 0.25s linear);
		width: 95%;
		&.active{
			opacity: 1;
			@include transition(opacity 0.25s linear);
		}
	}
}
nav.slides{
	margin: 100px auto 0;
	max-width: 600px;
	position: relative;
	width: 85%;
	@media all and (max-width: $tablet){
		margin: 20px auto 0;
	}
	&:before{
		background-color: #000;
		content: '';
		display: inline-block;
		height: 3px;
		left: 0;
		margin-top: -1.5px;
		position: absolute;
		top: 50%;
		width: 99%;
	}
	&:after{
		background-color: #fff;
		content: '';
		display: inline-block;
		height: 3px;
		left: 0;
		margin-top: -1.5px;
		position: absolute;
		top: 50%;
		width: 0%;
	    -webkit-animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
	    	animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);	
		-webkit-animation-duration: 0.5s;
		      animation-duration: 0.5s;
		-webkit-animation-iteration-count: 1;
		      animation-iteration-count: 1;
	}
	ul{
		height: $nav-item-size;
	    position: relative;		
	    z-index: 1;
		li{
			display: inline-block;
			position: absolute;
			// z-index: 1;
			&:first-child{
				left: 0;
			}
			&:last-child{
				right: 0;
			}
			&:nth-child(2){
				left: 50%;
				margin-left: -($nav-item-size/2);
			}
			div{
				background-color: #000;
				border-radius: 100%;
				color: #fff;
				display: inline-block;
				font-size: 33px;
				font-weight: 700;
				height: $nav-item-size;
				line-height: $nav-item-size;
				text-decoration: none;
				width: $nav-item-size;
				&.active{
					background-color: #fff;
					color: #000;
				}
			}
		}
	}
}
.tuition-views{
	&.major{
		+ nav.slides{
			&:after{
				width: 50%;			
    			-webkit-animation-name: progressHalf;
				      animation-name: progressHalf;
			}
		}
	}
	&.area{
		+ nav.slides{
			&:after{
				width: 100%;
				-webkit-animation-name: progressFull;
				      animation-name: progressFull;
			}
		}		
	}
}
.complete{
	background-color: #fff;
	
	.icon{
		display: inline-block;
		max-height: 250px;
		max-width: 200px;
	}
	.result{
		color: $red;
		font-size: 1.75rem;
		font-weight: 700;
		padding: 30px 10px;
	}
	.salary{
		width: 100%;
		&.school{
			padding: 50px 20px;
			h4, .h4{
				border-bottom: 2px solid $red;
				display: inline-block;
				color: $red;
				font-size: 35px;
				font-weight: 700;
				margin: 0 auto;
				padding-bottom: 12px;
				@media all and (max-width: $tablet){
				    font-size: 35px;
				    font-weight: 700;
				    margin: 0 auto 15px;		
				}
			}
			.career{
				color: #000;
				display: block;
				font-size: 65px;
				font-weight: 700;
				line-height: 125px;
				@media all and (max-width: $tablet){
					font-size: 30px;
					line-height: 35px;
				}
			}
			.pay{
				color: $red;
				display: block;
				font-size: 125px;
				font-weight: 700;
				line-height: 90px;
				margin-top: -15px;
				@media all and (max-width: $tablet){
				    font-size: 50px;
				    padding-top: 15px;
				    line-height: 60px;					
				}
			}
		}
		&.final{
			@media all and (max-width: $desktop){
				.cont{
					h6{
						font-size: 35px!important;
						line-height: 45px!important;						
					}
					.money{
						font-size: 45px!important;
						line-height: 55px!important;
					}
				}
			}
			h6{
				font-size: 2rem;
				font-weight: 700;
				line-height: 1.2;
				span{
					display: block;
				}
				@media all and (max-width: $tablet){
					font-size: 1.8rem;
				}
			}
			.expenses{
				display: inline-block;
				padding: 15px;
				@include pie-clearfix;
				width: 100%;
				> div{
					padding: 75px;
				}
				section{
					display: inline-block;
					padding: 35px 15px;
					vertical-align: middle;
					width: 98%;
					@media all and (max-width: $tablet){
						padding: 20px 10px;
					}
				}
				&:before{
					content: '';
					display: inline-block;
					height: inherit;
					vertical-align: middle;
					width: 0.1%;
				}
				h6{
					color: #000;
				}
				.money{
					color: #fff;
					display: inline-block;
					font-size: 3.5rem;
					font-weight: 700;
					padding-top: 10px;
					@media all and (max-width: $tablet){
						font-size: 2.25rem;
					}
				}
			}
			.summary{
				display: inline-block;
				@include pie-clearfix;
				padding: 35px 15px 90px;
				width: 100%;
				section{
					display: inline-block;
					vertical-align: middle;
					width: 98%;
					@media all and (max-width: $tablet){
						padding: 20px 10px;
					}
				}
				&:before{
					content: '';
					display: inline-block;
					height: inherit;
					vertical-align: middle;
					width: 0.1%;
				}
				h6{
					color: #fff;
				}
				.icon.smile{
					padding-bottom: 45px;
				}
				span.money{
					color: $red;
					display: inline-block;
					font-size: 125px;
					font-weight: 700;
					line-height: 1.2;
					@media all and (max-width: $tablet){
						font-size: 70px;
						line-height: 75px;
					}
				}
				.quote{
					.icon{
						display: inline-block;
						height: 100px;
						padding-right: 30px;
						vertical-align: middle;
						width: 100px;
						@media all and (max-width: $desktop){
							height: 50px;
							padding-right: 0px;
							width: 50px;
						}
					}
					span{
						color: $yellow;
						display: inline-block;
						font-size: 45px;
						font-weight: 700;
						line-height: 1.1;
						padding: 25px 0;
						vertical-align: middle;
						@media all and (max-width: $desktop){
							font-size: 30px;
							line-height: 35px;
						}
					}
				}
				.scolldown{
					color: #fff;
					cursor: pointer;
					text-decoration: none;
					.down-arrow{
						display: inline-block;
						width: 71px;
					}
					p{
						font-size: 0.75rem;
						line-height: 3rem;
						@include transition(font-size 0.25s);
					}
					&:hover{
						p{
							font-size: 1rem;
							@include transition(font-size 0.25s);
						}
					}
				}
			}
		}
	}
	.payment{
		display: inline-block;
		width: 33.333%;
		vertical-align: top;
		@media all and (max-width: $tablet){
			width: 100%;
		}
		.next{
		    font-size: 18px;
		    height: 30px;
		    line-height: 30px;
		    margin-top: 7.5px;
		    width: 100%;			
		}

		&.living{
			margin: 0 -6px;
			overflow: hidden;
			position: relative;
			aside{
				h4{
					span{
						@media all and (max-width: $tablet){
							&:last-child{
								font-size: 15px;
							}							
						}
					}
				}
			}
			.overlay{
				background-color: rgba(#000, 0.85);
				bottom: 0;
				color: #fff;
				height: inherit;
				left: 0;
				opacity: 1;
				overflow: scroll;
				position: absolute;
				right: 0;
				top: 0;
				&:before{
					content: '';
					display: inline-block;
					height: inherit;
					vertical-align: middle;
					width: 0.1%;
				}
				.container{
					display: inline-block;
					padding: 20px 10px;
					vertical-align: middle;
					width: 95%;
				}
				&.closed{
					opacity: 0;
					pointer-events: none;
					top: 100%;
					@include transition(all 0.5s ease-in-out);
				}
				&:not(.closed){
					@include animate(fadeInDown, 0.5s, 0, 1, linear)		
				}
				.inputter{
					&.half{
						display: inline-block;
						width: 47%;
						&:nth-child(odd){
							margin-right: 2%;
						}
					}
					h6{
						color: #fff;
						font-size: 18px;
						font-weight: 700;
						padding-bottom: 7.5px;
					}
					span{
						color: $yellow;
						display: block;
						font-size: 12px;
					}
					::-webkit-input-placeholder {
					   color: #000;
					   font-family: $font-main;
					   text-align: center;
					   text-transform: uppercase;
					}
					:-moz-placeholder { /* Firefox 18- */
					   color: #000;
					   font-family: $font-main;
					   text-align: center;
					   text-transform: uppercase;  
					}
					::-moz-placeholder {  /* Firefox 19+ */
					   color: #000;
					   font-family: $font-main;
					   text-align: center;
					   text-transform: uppercase;  
					}
					:-ms-input-placeholder {  
					   color: #000;
					   font-family: $font-main;
					   text-align: center;
					   text-transform: uppercase;  
					}
					input {
						border-radius: 10px;
						@include box-shadow(0 0 0 rgba(0,0,0,0));
						margin: 10px 0 5px;
						border: none;
						cursor: auto;
						display: inline-block;
						font-size: 20px;
						font-weight: 700;
						height: 24px;
						letter-spacing: normal;
						line-height: 24px;
						outline: none;
						padding: 0 30px;
						position: relative;
						text-align: center;
						text-transform: uppercase;
						@include transition(all 0.30s ease-in-out);
						width: 100%;
					}
				}
			}
		}
		&.taxes{
			&:hover{
				.taxtime{
					@include animate(clock, 7.5s, 0s, 1, linear);
					.bell{
						@include animate(bell, 7.5s, 0s, 1, linear);
					}
				}
			}
			aside{
				@media all and (max-width: $desktop){
					margin-bottom: -40px;
				}
			}		
		}
		aside{
			margin: 0 auto;
			max-width: 425px;
			min-height: 200px;
			padding-top: 50px;
			@media all and (max-width: $tablet){
				padding-top: 20px;
			}
			h4{
				font-size: 1.55vw;
				font-weight: 700;
				line-height: 1;
				padding-bottom: 12px;
				@media all and (max-width: $tablet){
					font-size: 32px;
				}
				span{
					display: block;
				}
			}			
			span.sub{
				border-bottom: 1px solid #000;
				display: inline-block;
				font-size: 1.2vw;
				font-weight: 700;
				margin-bottom: 10px;
				padding-bottom: 10px;
				width: 95%;
				@media all and (max-width: $tablet){
					font-size: 20px;
				}
			}
		}
		article{
			min-height: 275px;
			width: 100%;
			@media all and (max-width: $tablet){
				min-height: 175px;
			}
			&:before{
				content: '';
				display: inline-block;
				height: inherit;
				vertical-align: middle;
				width: 0.1%;
			}
			.icon{
				display: inline-block;
				height: inherit;
				max-height: 200px;
				vertical-align: middle;
				width: 48%;
				@media all and (max-width: $tablet){
					max-height: 150px;
				}
			}
			.pay{
				display: inline-block;
				vertical-align: middle;
				width: 48%;
				span{
					display: block;
				}
				.money{
					font-size: 3.5vw;
					font-weight: 700;
					@media all and (max-width: $tablet){
						font-size: 30px;
						line-height: 40px;
					}
				}
				.each{
					font-size: 1.75vw;
					line-height: 2.25vw;
					font-weight: 700;
					@media all and (max-width: $tablet){
						font-size: 18px;
					}
				}
			}
		}
	}
	nav.controls{
		padding: 30px 0;
		ul{
			li{
				cursor: pointer;
				display: inline-block;
				max-width: 250px;
				position: relative;
				width: 30%;
				&.update{
					&:hover{
						span{
							color: $red;
						}
						div{
							svg{
								circle{
									stroke: $red;
								}
								path{
									fill: #000;
									stroke: #000;					
								}
							}
						}
					}				
					svg{
						path{
							fill: $red;
							stroke: $red;
							stroke-width: 1.5;
						}
						circle{
							@media all and (max-width: $tablet){
								fill: #fff;
							}
						}
					}
				}
				&.share{
				    .sharer.icon{
				    	position: relative;
				    }
					.medias{
					    display: inline-block;
					    left: 50%;
					    margin-left: -90px;
						opacity: 0;
						pointer-events: none;
						position: absolute;
						text-align: center;
						top: -50px;
						@include transition( opacity 0.25s );
					    width: 180px;
					    li{
					    	background-color: rgba(#fff, 0.75);
						    border: 1px solid #000;
						    border-radius: 100%;
					    	display: inline-block;
					    	height: 45px;
						    padding: 7px;	
					    	width: 45px;
					    	&:nth-child(2){
					    		margin: 0 15px;
					    	}
					    	.share-btn{
					    		display: inline-block;
					    	}
					    	svg{
					    		height: auto;
					    		width: auto;
					    	}
					    	&:hover{
					    		svg{
					    			path{
					    				fill: $red;
					    			}
					    		}
					    	}
					    }
					}
					&.open{
						.medias{
							opacity: 1;
							pointer-events: auto;
							@include transition( opacity 0.25s );
							li{
								&:nth-child(1){
									@include animate( sociala, 0.25s, 0, 1, cubic-bezier(0.18, 0.89, 0.32, 1.28) );
								}
								&:nth-child(2){
									@include animate( socialb, 0.25s, 0, 1, cubic-bezier(0.18, 0.89, 0.32, 1.28) );
								}
								&:nth-child(3){
									@include animate( socialc, 0.25s, 0, 1, cubic-bezier(0.18, 0.89, 0.32, 1.28) );
								}
							}
						}
					}
				}
				span{
					display: inline-block;
					vertical-align: middle;
					@media all and (max-width: $tablet){
						display: none;
					}
				}
				div{
					border-radius: 100%;
					display: inline-block;
					height: 40px;
					vertical-align: middle;
					width: 40px;
					svg{
						height: 40px;
						width: 40px;
					}
				}
			}			
		}
		aside{
			padding-top: 10px;
			label{
			    display: block;
			    color: #1D9A48;
			    cursor: pointer;
			    font-size: 16px;
				padding-bottom: 7px;
			}
			textarea{
			    border-radius: 6px;
			    color: #3A3A39;
			    font-size: 18px;
			    display: block;
			    height: 33px;
			    line-height: 28px;
			    margin: 0 auto;
			    max-width: 500px;
			    outline-color: $red;
			    overflow: hidden;			
			    resize: none;
			    text-align: center;
			    -webkit-appearance: none;
			    width: 95%;
			}
		}
	}
	.did.know{
		background-color: #eeeeee;
		padding: 35px 10px 50px;
		h5{
			color: #0d886b;
			font-size: 1rem;
			font-weight: 700;
			padding-bottom: 1rem;
		}
		h4{
			color: #000;
			font-size: 2.5rem;
			font-weight: 700;
		}
		p{
			color: #000;
			font-size: 1.5rem;
			font-weight: 700;
			padding-bottom: 1.25rem;
		}
		a{
			color: $red;
			font-size: 0.75rem;
			font-weight: 700;
		}
	}
	.other.links{
		padding: 25px 0 60px;
		a{
			display: inline-block;
			height: 45px;
			vertical-align: middle;
			&:first-child{
				margin-right: 150px;
			}
			img, svg{
				display: inline-block;
    			height: inherit;
			}
		}
	}
}
.svg{
	&.money{
		.st0{fill:#24A284;}
		.st1{fill:#2DBE9B;}
		.st2{fill:#1B876A;}
		.st3{fill:#BED9CA;}
		.st4{fill:#8EC7B3;}
		.st5{fill:#74BAA4;}
		.dollar{
			@include animate(dol, 2s, 0s, infinite, linear);
			-webkit-transform-origin: 50% 50%;
			-moz-transform-origin: 50% 50%;
			-o-transform-origin: 50% 50%;
		}
	}
	&.graduate{
		.st0{fill:#C32F27;}
		.st1{fill:#FFFFFF;}
		.st2{fill:#08585C;}
		.st3{fill:#187F87;}
		.st4{fill:#003D42;}
		.st5{fill:#F5B673;}
		.st6{fill:#E09153;}
		.st7{fill:#754C2D;}
		.st8{fill:#593317;}
		.st9{fill:none;stroke:#221F1F;stroke-miterlimit:10;}
		.st10{fill:#D5C4B9;}
		.st11{fill:#A8968F;}
		.st12{fill:#FFCC05;}
		.tas{
			@include animate(tas, 27s, 0s, infinite, linear);
			-webkit-transform-origin: 50% 0%;
			-moz-transform-origin: 50% 0%;
			-o-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
	    	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
	    	animation-direction: alternate;			
		}
		.head{
			@include animate(headd, 5s, 0s, infinite, linear);
			-webkit-transform-origin: 50% 100%;
			-moz-transform-origin: 50% 100%;
			-o-transform-origin: 50% 100%;
			transform-origin: 50% 100%;
	    	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
	    	animation-direction: alternate;				
		}	
	}
	&.taxtime{
		.st0{fill:#5A5A5A;}
		.st1{fill:#FF6400;}
		.st2{fill:#FF7800;}
		.st3{fill:#646464;}
		.st4{fill:#E6E6E6;}
		.st5{fill:#F0F0F0;}
		.st6{fill:#969696;}
		.st7{fill:#FFDC00;}
		.st8{fill:#FFD200;}		

		@include animate(clock, 5s, 0s, infinite, cubic-bezier(0.49, 0.08, 0.95, 0.52));
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
    	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    	animation-direction: alternate;
		.bell{
			@include animate(bell, 5s, 0s, infinite, cubic-bezier(0.49, 0.08, 0.95, 0.52));
			-webkit-transform-origin: 50% 50%;
			-moz-transform-origin: 50% 50%;
			-o-transform-origin: 50% 50%;
			transform-origin: 50% 50%;			
	    	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
	    	animation-direction: alternate;
		}
		&:hover{
			@include animate(clock, 7.5s, 0s, infinite, linear);
			.bell{
				@include animate(bell, 7.5s, 0s, infinite, linear);
			}
		}
	}
	&.cap, &.city, &.book{
		@media all and (min-width: $tablet){
			@include animate(bounceInDown, 1s, 0, 1, cubic-bezier(0.11, -0.56, 0.74, 1.73));		
		}
	}
	&.cap{
		.st0{fill:#41444C;}
		.st1{fill:#5E6470;}
		.st2{fill:#6FC8B8;}
		.st3{fill:#EE7955;}		
	}
	&.book{
		.st0{fill:#F4CE8E;}
		.st1{fill:#F5F2D5;}
		.st2{fill:#471540;}
		.st3{fill:#EAE4C1;}
		.st4{fill:#D75D27;}
		.st5{fill:#F79326;}
		.st6{fill:#951A45;}
	}
	&.city{
		.st0{fill:#EE3A79;}
		.st1{fill:#F8D9D9;}
		.st2{fill:#B72756;}
		.st3{fill:#FDB913;}
		.st4{fill:#A0410D;}
		.st5{fill:#FFF450;}
		.st6{fill:#E5252B;}
		.st7{fill:#A81F26;}
		.st8{fill:#F1C29E;}
		.st9{fill:#B1E0E2;}
		.st10{fill:#138A79;}
		.st11{fill:#E0F2FC;}
		.st12{fill:#F8A420;}
		.st13{fill:#FDF8DD;}
		.st14{fill:#C2812C;}
		.st15{fill:#F8B193;}
		.st16{fill:#FBFBEA;}
		.st17{fill:#8B4658;}
		.st18{fill:#DCDDDE;}
		.st19{fill:#C7C8CA;}
		.st20{fill:#6DCACF;}
		.st21{fill:#159188;}
		.st22{fill:#BDE3EF;}
		.st23{fill:#17938D;}
		.st24{fill:#104350;}
		.st25{fill:#F49AC1;}		
	}
	&.smiley{
		.st0{fill:#E6DB5D;}
	}
}
.edit.form{
	background-color: rgba(0,0,0,0.35);
	bottom: 0;
	left: 0;
	opacity: 1;
	position: fixed;
	right: 0;
	top: 0;
	@media all and (max-width: $tablet){
		position: absolute;
	}
	&.closed{
		opacity: 0;
		pointer-events: none;
		top: 100%;
		@include transition(all 0.5s ease-in-out);
	}
	&:not(.closed){
		@include animate(fadeInDown, 0.5s, 0, 1, linear);		
	}
	&:before{
		content: '';
		display: inline-block;
		height: 100vh;
		vertical-align: middle;
		width: 0.1%;
		@media all and (max-width: $tablet){
			display: none;
		}
	}
	.angucomplete-holder {
	    max-width: 100%;
	    width: 100%;
	}
	.angucomplete-dropdown{
		display: inline-block;
		top: 35px;
		left: 5%;
		width: 90%;
	}
	.container{
		background-color: $yellow;
		border-top-left-radius:10px;
		border-bottom-right-radius:10px;
		display: inline-block;
		padding: 35px 50px;	
		vertical-align: middle;
		width: 75%;
		@media all and (max-width: $tablet){
			padding: 35px 0px;	
			width: 100%;
		}
		::-webkit-input-placeholder {
		   color: #000;
		   font-family: $font-main;
		   text-align: center;
		   text-transform: uppercase;
		}
		:-moz-placeholder { /* Firefox 18- */
		   color: #000;
		   font-family: $font-main;
		   text-align: center;
		   text-transform: uppercase;  
		}
		::-moz-placeholder {  /* Firefox 19+ */
		   color: #000;
		   font-family: $font-main;
		   text-align: center;
		   text-transform: uppercase;  
		}
		:-ms-input-placeholder {  
		   color: #000;
		   font-family: $font-main;
		   text-align: center;
		   text-transform: uppercase;  
		}
		h5{
			// border-bottom: 1px solid $red;
			color: #000;
			// display: inline-block;
			font-size: 18px;
			font-weight: 700;
			padding-bottom: 7.5px;
			@media all and (max-width: $tablet){
				padding-bottom: 2.5px;
			}
		}
		h6{
			font-size: 12px;
			letter-spacing: 1px;
			padding-top: 5px;
		}
		.next{
			margin-top: 30px;
		}
		.incomes{
		    background: url(../img/arrow.svg) no-repeat 95% center #fff;
		    background-size: auto 50%;
			border-radius: 10px;
			height: 34px;
			margin: 10px auto;
			overflow: hidden;
			width: 90%;
			select {
				background: transparent;
				@include box-shadow(0 0 0 rgba(0,0,0,0));
				padding: 5px;
				border: 0;
				border-radius: 0;
				outline: none;
				height: 34px;
				-webkit-appearance: none;
					width: 100%;
					font-size: 20px;
					font-weight: 700;
					line-height: 1;
					color: #000;
					font-family: $font-main;
					text-align: center;
					text-indent: 10px;
					text-transform: uppercase;  
				option{
					display: inline-block;
					width: 100%;
					font-size: 20px;
					line-height: 1;
					color: #000;
					font-family: $font-main;
					text-align: center;
					text-transform: uppercase;  
				}
			}
		}
		input{
			border-radius: 10px;
			@include box-shadow(0 0 0 rgba(0,0,0,0));
			border: none;
			cursor: auto;
			display: inline-block;
			font-size: 20px;
			font-weight: 700;
			height: 35px;
			letter-spacing: normal;
			line-height: 35px;
			margin: 5px 0;
			outline: none;
			padding: 0 10px;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			@include transition(all 0.30s ease-in-out);
			word-spacing: 0px;	
			@media all and (max-width: $tablet){
				font-size: 14px;
			}		
		}
		input[type=text] {
			width: 90%;
			&:focus{
				z-index: 200000000;
			}
		}
		input[type=number] {
			width: 90%;
		}
		.half{
			display: inline-block;
			vertical-align: middle;
			width: 45%;
		}
		.third{
			display: inline-block;
			width: 31%;
		}
	}
}
.half, .third{
	@media all and (max-width: $tablet){
		width: 100%!important;
	}
}

section.complete{
	@include animate(fadeIn, 0.15s, 0, 1, linear);
	&.loading{
		.salary, .payment{
			opacity: 0;
			@include transition(opacity 0.1s);
		}
	}
	.salary, .payment{
		opacity: 1;
		@include transition(opacity 0.1s);
	}
	.payment{
		-webkit-transform-origin: center center;
		  -ms-transform-origin: center center;
		      transform-origin: center center;
		@include animate(flipInY, 0.75s, 0.05s, 1, linear);
	}
	.salary{
		@include animate(flipInX, 0.75s, 0.05s, 1, linear);
	}
}

.zop{
	opacity: 0;
	@include transition(opacity 0.25s);
}
.open{
	#open{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.yawn{
	#yawn{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.flatsquint{
	#flatsquint{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.crying{
	#crying{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.sadeyes{
	#sadeyes{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.frowneyes{
	#frowneyes{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.sad{
	#sad{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.crossedmust{
	#crossedmust{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.crossed{
	#crossed{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.flat{
	#flat{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.tilt{
	#tilt{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.smile{
	#smile{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.cool{
	#cool{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.money{
	#money{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.hearts{
	#hearts{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.tongue{
	#tongue{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.smilewink{
	#smilewink{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.bigsmileeyes{
	#bigsmileeyes{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.bigsmile{
	#bigsmile{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.smug{
	#smug{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}
.smilesquint{
	#smilesquint{
		@include transition(opacity 0.25s);
		opacity: 1!important;
	}
}