<div id="tuition-views" ui-view class="tuition-views" ng-class="{'school': $state.includes('tuition.school'), 'major': $state.includes('tuition.major'), 'area': $state.includes('tuition.area')}">

<!-- 	<div class="loader loading">
		<span class="head">\\\ Loading ///</span>
		<div class="spinner">
		  <div class="cube1"></div>
		  <div class="cube2"></div>
		</div>
	</div> -->

	<section class="welcome">
		<h1>
			<span>College Graduate</span>
			<span class="sm yell">Cost of living Estimator</span>
		</h1>

		
		<div class="imgcnt">
			<ng-include src="'partials/threeimg.html'"></ng-include>
		</div>

		<h3>Can you afford to pay for student loans and the cost of living?</h3>

		<div class="started" ng-click="getStarted()">Get Started</div>
	</section>

</div>

<nav class="slides dnone" ng-class="{'dnone': $state.includes('tuition.complete')}">
	<ul>
		<li>
			<div ng-class="{'active': $state.includes('tuition.school') || $state.includes('tuition.major') || $state.includes('tuition.area')}">1</div>
		</li>
		<li>
			<div ng-class="{'active': $state.includes('tuition.major') || $state.includes('tuition.area')}">2</div>
		</li>
		<li>
			<div ng-class="{'active': $state.includes('tuition.area')}">3</div>
		</li>
	</ul>
</nav>