<section class="school slide">
	<div class="icon">
		<!-- <ng-include src="'img/graduation_cap.svg'" animatePoly></ng-include> -->
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="214.6 -53 270.8 191.3" style="enable-background:new 214.6 -53 270.8 191.3;" xml:space="preserve" preserveAspectRatio="xMidYMid meet" width="100%" height="100%" class="svg cap">
		<g>
			<polygon class="st0" points="350,85.3 214.6,16.2 350,-53 485.4,16.2"/>
			<path class="st1" d="M420.2,35c0-16.8-31.4-30.5-70.2-30.5S279.8,18.1,279.8,35c0,0.5,0.1,1,0.2,1.5h-0.2v53.2
					c6.6-8,18.6-13.5,32.3-13.5c15.6,0,31,6.9,37.8,16.7c6.8-9.8,22.3-16.7,37.8-16.7c13.8,0,25.7,5.4,32.3,13.5V36.5l0,0
					C420,36,420.2,35.5,420.2,35z"/>
			<g class="tassle">
				<path class="st2" d="M468.9,130.9c0.9,2.3-2.4,6.5-10.5,7.2c-3.9,0.3-7.7,0.3-11.6,0c-8.1-0.7-11.4-4.9-10.5-7.2
						c3.6-11.1,7.2-22.1,10.8-33.2c0.9-2.4,1.2-3.6,3.7-3.4c1.2,0.1,2.5,0.1,3.7,0c2.4-0.2,2.8,1,3.7,3.4
						C461.7,108.8,465.3,119.9,468.9,130.9z"/>
				<path class="st3" d="M457.2,83.7V1.8l-9.1-4.7v86.6c-3,1.6-5,4.8-5,8.4c0,5.3,4.3,9.6,9.6,9.6c5.3,0,9.6-4.3,9.6-9.6
							C462.2,88.4,460.2,85.3,457.2,83.7z"/>		
			</g>
		</g>
		</svg>
	</div>
	<h2>
		<span>Enter a</span>
		<span>College</span>
		<span class="small">Type Full Name</span>
	</h2>
	<div>
		<angucomplete id="school"
			placeholder="{{selectSchool.school}}"
			pause="100"
			selectedobject="selectSchool"
			localdata="schools"
			searchfields="school"
			titlefield="school"
			minlength="2"
			inputclass="form-control"
			matchclass="highlight" />
	</div>
	<div class="dnone required">
		<span>Please Select An Option From the List.</span>
		<span>Outside of California, type in 'public' or 'private' for average tuition.</span>
	</div>
	<div ng-click="goMajors(selectSchool.originalObject)" class="next black">Next</div>

</section>