<section class="area slide">
	<div class="icon">
		<!-- <ng-include src="'img/city.svg'" animatePoly></ng-include> -->
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="258.3 -62.4 416.4 291.5" style="enable-background:new 258.3 -62.4 416.4 291.5;" xml:space="preserve" preserveAspectRatio="xMidYMid meet" width="100%" height="100%" class="svg city">
				<g>
					<g>
						<rect x="285.1" y="75.3" class="st0" width="58.1" height="151.3"/>
						<rect x="343.2" y="129.1" class="st0" width="28.8" height="97.5"/>
						<g>
							<g>
								<rect x="290" y="120" class="st1" width="8.8" height="8.8"/>
								<rect x="303.1" y="120" class="st1" width="8.8" height="8.8"/>
								<rect x="316.1" y="120" class="st1" width="8.8" height="8.8"/>
								<rect x="329.2" y="120" class="st1" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="290" y="106.9" class="st1" width="8.8" height="8.8"/>
								<rect x="303.1" y="106.9" class="st1" width="8.8" height="8.8"/>
								<rect x="316.1" y="106.9" class="st1" width="8.8" height="8.8"/>
								<rect x="329.2" y="106.9" class="st1" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="290" y="93.8" class="st1" width="8.8" height="8.8"/>
								<rect x="303.1" y="93.8" class="st1" width="8.8" height="8.8"/>
								<rect x="316.1" y="93.8" class="st1" width="8.8" height="8.8"/>
								<rect x="329.2" y="93.8" class="st1" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="290" y="80.6" class="st1" width="8.8" height="8.8"/>
								<rect x="303.1" y="80.6" class="st1" width="8.8" height="8.8"/>
								<rect x="316.1" y="80.6" class="st1" width="8.8" height="8.8"/>
								<rect x="329.2" y="80.6" class="st1" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="290" y="133.1" class="st1" width="8.8" height="8.9"/>
								<rect x="303.1" y="133.1" class="st1" width="8.8" height="8.9"/>
								<rect x="316.1" y="133.1" class="st1" width="8.8" height="8.9"/>
								<rect x="329.2" y="133.1" class="st1" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="290" y="146.3" class="st1" width="8.8" height="8.8"/>
								<rect x="303.1" y="146.3" class="st1" width="8.8" height="8.8"/>
								<rect x="316.1" y="146.3" class="st1" width="8.8" height="8.8"/>
								<rect x="329.2" y="146.3" class="st1" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="290" y="159.4" class="st1" width="8.8" height="8.8"/>
								<rect x="303.1" y="159.4" class="st1" width="8.8" height="8.8"/>
								<rect x="316.1" y="159.4" class="st1" width="8.8" height="8.8"/>
								<rect x="329.2" y="159.4" class="st1" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="290" y="172.5" class="st1" width="8.8" height="8.9"/>
								<rect x="303.1" y="172.5" class="st1" width="8.8" height="8.9"/>
								<rect x="316.1" y="172.5" class="st1" width="8.8" height="8.9"/>
								<rect x="329.2" y="172.5" class="st1" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="290" y="185.7" class="st1" width="8.8" height="8.9"/>
								<rect x="303.1" y="185.7" class="st1" width="8.8" height="8.9"/>
								<rect x="316.1" y="185.7" class="st1" width="8.8" height="8.9"/>
								<rect x="329.2" y="185.7" class="st1" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="290" y="198.8" class="st1" width="8.8" height="8.8"/>
								<rect x="303.1" y="198.8" class="st1" width="8.8" height="8.8"/>
								<rect x="316.1" y="198.8" class="st1" width="8.8" height="8.8"/>
								<rect x="329.2" y="198.8" class="st1" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="290" y="211.9" class="st1" width="8.8" height="8.8"/>
								<rect x="303.1" y="211.9" class="st1" width="8.8" height="8.8"/>
								<rect x="316.1" y="211.9" class="st1" width="8.8" height="8.8"/>
								<rect x="329.2" y="211.9" class="st1" width="8.8" height="8.8"/>
							</g>
						</g>
						<g>
							<g>
								<rect x="345.3" y="133.1" class="st1" width="8.8" height="8.9"/>
								<rect x="358.3" y="133.1" class="st1" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="345.3" y="146.3" class="st1" width="8.8" height="8.8"/>
								<rect x="358.3" y="146.3" class="st1" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="345.3" y="159.4" class="st1" width="8.8" height="8.8"/>
								<rect x="358.3" y="159.4" class="st1" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="345.3" y="172.5" class="st1" width="8.8" height="8.9"/>
								<rect x="358.3" y="172.5" class="st1" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="345.3" y="185.7" class="st1" width="8.8" height="8.9"/>
								<rect x="358.3" y="185.7" class="st1" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="345.3" y="198.8" class="st1" width="8.8" height="8.8"/>
								<rect x="358.3" y="198.8" class="st1" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="345.3" y="211.9" class="st1" width="8.8" height="8.8"/>
								<rect x="358.3" y="211.9" class="st1" width="8.8" height="8.8"/>
							</g>
						</g>
						<rect x="285.1" y="226.5" class="st2" width="86.9" height="2.5"/>
						<rect x="343.2" y="124.4" class="st2" width="28.8" height="4.6"/>
						<rect x="343.2" y="114.1" class="st2" width="14.8" height="10.3"/>
						<rect x="285.1" y="72.2" class="st2" width="58.1" height="3.1"/>
					</g>
					<g>
						<rect x="324.6" y="114" class="st3" width="43.6" height="110"/>
						<rect x="329.1" y="20.2" class="st3" width="34.7" height="93.8"/>
						<rect x="324.6" y="224" class="st4" width="43.6" height="5.1"/>
						<g>
							<g>
								<rect x="329.1" y="118.1" class="st5" width="8.8" height="8.8"/>
								<rect x="342" y="118.1" class="st5" width="8.8" height="8.8"/>
								<rect x="354.9" y="118.1" class="st5" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="329.1" y="131.1" class="st5" width="8.8" height="8.8"/>
								<rect x="342" y="131.1" class="st5" width="8.8" height="8.8"/>
								<rect x="354.9" y="131.1" class="st5" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="329.1" y="144.1" class="st5" width="8.8" height="8.8"/>
								<rect x="342" y="144.1" class="st5" width="8.8" height="8.8"/>
								<rect x="354.9" y="144.1" class="st5" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="329.1" y="157" class="st5" width="8.8" height="8.8"/>
								<rect x="342" y="157" class="st5" width="8.8" height="8.8"/>
								<rect x="354.9" y="157" class="st5" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="329.1" y="170" class="st5" width="8.8" height="8.8"/>
								<rect x="342" y="170" class="st5" width="8.8" height="8.8"/>
								<rect x="354.9" y="170" class="st5" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="329.1" y="183" class="st5" width="8.8" height="8.9"/>
								<rect x="342" y="183" class="st5" width="8.8" height="8.9"/>
								<rect x="354.9" y="183" class="st5" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="329.1" y="195.9" class="st5" width="8.8" height="8.9"/>
								<rect x="342" y="195.9" class="st5" width="8.8" height="8.9"/>
								<rect x="354.9" y="195.9" class="st5" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="329.1" y="208.9" class="st5" width="8.8" height="8.8"/>
								<rect x="342" y="208.9" class="st5" width="8.8" height="8.8"/>
								<rect x="354.9" y="208.9" class="st5" width="8.8" height="8.8"/>
							</g>
						</g>
						<g>
							<g>
								<rect x="335.5" y="24.2" class="st5" width="8.8" height="8.8"/>
								<rect x="348.4" y="24.2" class="st5" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="335.5" y="37.2" class="st5" width="8.8" height="8.8"/>
								<rect x="348.4" y="37.2" class="st5" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="335.5" y="50.2" class="st5" width="8.8" height="8.8"/>
								<rect x="348.4" y="50.2" class="st5" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="335.5" y="63.1" class="st5" width="8.8" height="8.9"/>
								<rect x="348.4" y="63.1" class="st5" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="335.5" y="76.1" class="st5" width="8.8" height="8.8"/>
								<rect x="348.4" y="76.1" class="st5" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="335.5" y="89.1" class="st5" width="8.8" height="8.9"/>
								<rect x="348.4" y="89.1" class="st5" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="335.5" y="102.1" class="st5" width="8.8" height="8.8"/>
								<rect x="348.4" y="102.1" class="st5" width="8.8" height="8.8"/>
							</g>
						</g>
						<polygon class="st4" points="362.5,20.2 330.3,20.2 346.4,4 		"/>
					</g>
					<g>
						<rect x="436.2" y="134.7" class="st6" width="56.8" height="90.6"/>
						<rect x="436.2" y="225.2" class="st7" width="56.8" height="3.9"/>
						<rect x="442" y="100" class="st6" width="45.3" height="34.7"/>
						<rect x="446.3" y="65.6" class="st6" width="36.6" height="34.4"/>
						<rect x="446.3" y="61.5" class="st7" width="36.6" height="4.1"/>
						<rect x="455.7" y="47" class="st7" width="17.9" height="14.5"/>
						<g>
							<g>
								<rect x="482" y="138.8" class="st8" width="7.1" height="7.1"/>
								<rect x="471.6" y="138.8" class="st8" width="7.1" height="7.1"/>
								<rect x="461.1" y="138.8" class="st8" width="7.1" height="7.1"/>
								<rect x="450.6" y="138.8" class="st8" width="7.1" height="7.1"/>
								<rect x="440.1" y="138.8" class="st8" width="7.1" height="7.1"/>
							</g>
							<g>
								<rect x="482" y="149.5" class="st8" width="7.1" height="7.1"/>
								<rect x="471.6" y="149.5" class="st8" width="7.1" height="7.1"/>
								<rect x="461.1" y="149.5" class="st8" width="7.1" height="7.1"/>
								<rect x="450.6" y="149.5" class="st8" width="7.1" height="7.1"/>
								<rect x="440.1" y="149.5" class="st8" width="7.1" height="7.1"/>
							</g>
							<g>
								<rect x="482" y="160.2" class="st8" width="7.1" height="7.1"/>
								<rect x="471.6" y="160.2" class="st8" width="7.1" height="7.1"/>
								<rect x="461.1" y="160.2" class="st8" width="7.1" height="7.1"/>
								<rect x="450.6" y="160.2" class="st8" width="7.1" height="7.1"/>
								<rect x="440.1" y="160.2" class="st8" width="7.1" height="7.1"/>
							</g>
							<g>
								<rect x="482" y="170.8" class="st8" width="7.1" height="7.1"/>
								<rect x="471.6" y="170.8" class="st8" width="7.1" height="7.1"/>
								<rect x="461.1" y="170.8" class="st8" width="7.1" height="7.1"/>
								<rect x="450.6" y="170.8" class="st8" width="7.1" height="7.1"/>
								<rect x="440.1" y="170.8" class="st8" width="7.1" height="7.1"/>
							</g>
							<g>
								<rect x="482" y="181.5" class="st8" width="7.1" height="7.1"/>
								<rect x="471.6" y="181.5" class="st8" width="7.1" height="7.1"/>
								<rect x="461.1" y="181.5" class="st8" width="7.1" height="7.1"/>
								<rect x="450.6" y="181.5" class="st8" width="7.1" height="7.1"/>
								<rect x="440.1" y="181.5" class="st8" width="7.1" height="7.1"/>
							</g>
							<g>
								<rect x="482" y="192.2" class="st8" width="7.1" height="7.1"/>
								<rect x="471.6" y="192.2" class="st8" width="7.1" height="7.1"/>
								<rect x="461.1" y="192.2" class="st8" width="7.1" height="7.1"/>
								<rect x="450.6" y="192.2" class="st8" width="7.1" height="7.1"/>
								<rect x="440.1" y="192.2" class="st8" width="7.1" height="7.1"/>
							</g>
							<g>
								<rect x="482" y="202.8" class="st8" width="7.1" height="7.1"/>
								<rect x="471.6" y="202.8" class="st8" width="7.1" height="7.1"/>
								<rect x="461.1" y="202.8" class="st8" width="7.1" height="7.1"/>
								<rect x="450.6" y="202.8" class="st8" width="7.1" height="7.1"/>
								<rect x="440.1" y="202.8" class="st8" width="7.1" height="7.1"/>
							</g>
							<g>
								<rect x="482" y="213.5" class="st8" width="7.1" height="7.1"/>
								<rect x="471.6" y="213.5" class="st8" width="7.1" height="7.1"/>
								<rect x="461.1" y="213.5" class="st8" width="7.1" height="7.1"/>
								<rect x="450.6" y="213.5" class="st8" width="7.1" height="7.1"/>
								<rect x="440.1" y="213.5" class="st8" width="7.1" height="7.1"/>
							</g>
						</g>
						<g>
							<g>
								<rect x="476.8" y="103.7" class="st8" width="7.1" height="7.1"/>
								<rect x="466.3" y="103.7" class="st8" width="7.1" height="7.1"/>
								<rect x="455.8" y="103.7" class="st8" width="7.1" height="7.1"/>
								<rect x="445.4" y="103.7" class="st8" width="7.1" height="7.1"/>
							</g>
							<g>
								<rect x="476.8" y="114.3" class="st8" width="7.1" height="7.1"/>
								<rect x="466.3" y="114.3" class="st8" width="7.1" height="7.1"/>
								<rect x="455.8" y="114.3" class="st8" width="7.1" height="7.1"/>
								<rect x="445.4" y="114.3" class="st8" width="7.1" height="7.1"/>
							</g>
							<g>
								<rect x="476.8" y="125" class="st8" width="7.1" height="7.1"/>
								<rect x="466.3" y="125" class="st8" width="7.1" height="7.1"/>
								<rect x="455.8" y="125" class="st8" width="7.1" height="7.1"/>
								<rect x="445.4" y="125" class="st8" width="7.1" height="7.1"/>
							</g>
						</g>
						<g>
							<rect x="471.6" y="69.7" class="st8" width="7.1" height="7.1"/>
							<rect x="461.1" y="69.7" class="st8" width="7.1" height="7.1"/>
							<rect x="450.6" y="69.7" class="st8" width="7.1" height="7.1"/>
							<rect x="471.6" y="80.4" class="st8" width="7.1" height="7.1"/>
							<rect x="461.1" y="80.4" class="st8" width="7.1" height="7.1"/>
							<rect x="450.6" y="80.4" class="st8" width="7.1" height="7.1"/>
							<rect x="471.6" y="91" class="st8" width="7.1" height="7.1"/>
							<rect x="461.1" y="91" class="st8" width="7.1" height="7.1"/>
							<rect x="450.6" y="91" class="st8" width="7.1" height="7.1"/>
						</g>
					</g>
					<g>
						<rect x="471.1" y="127.4" class="st9" width="61.2" height="97.5"/>
						<rect x="471.1" y="224.9" class="st10" width="61.2" height="4.2"/>
						<rect x="477.3" y="90" class="st9" width="48.8" height="37.4"/>
						<rect x="482" y="54.5" class="st9" width="39.4" height="35.5"/>
						<rect x="487.6" y="6.5" class="st9" width="28.1" height="48"/>
						<rect x="487.6" y="3.3" class="st10" width="28.1" height="3.2"/>
						<rect x="487.6" y="3.3" class="st10" width="28.1" height="3.2"/>
						<rect x="500" y="-30.2" class="st10" width="2.4" height="24.6"/>
						<g>
							<g>
								<rect x="520.4" y="131.9" class="st11" width="7.6" height="7.6"/>
								<rect x="509.1" y="131.9" class="st11" width="7.6" height="7.6"/>
								<rect x="497.8" y="131.9" class="st11" width="7.6" height="7.6"/>
								<rect x="486.6" y="131.9" class="st11" width="7.6" height="7.6"/>
								<rect x="475.3" y="131.9" class="st11" width="7.6" height="7.6"/>
							</g>
							<g>
								<rect x="520.4" y="143.4" class="st11" width="7.6" height="7.7"/>
								<rect x="509.1" y="143.4" class="st11" width="7.6" height="7.7"/>
								<rect x="497.8" y="143.4" class="st11" width="7.6" height="7.7"/>
								<rect x="486.6" y="143.4" class="st11" width="7.6" height="7.7"/>
								<rect x="475.3" y="143.4" class="st11" width="7.6" height="7.7"/>
							</g>
							<g>
								<rect x="520.4" y="154.8" class="st11" width="7.6" height="7.7"/>
								<rect x="509.1" y="154.8" class="st11" width="7.6" height="7.7"/>
								<rect x="497.8" y="154.8" class="st11" width="7.6" height="7.7"/>
								<rect x="486.6" y="154.8" class="st11" width="7.6" height="7.7"/>
								<rect x="475.3" y="154.8" class="st11" width="7.6" height="7.7"/>
							</g>
							<g>
								<rect x="520.4" y="166.3" class="st11" width="7.6" height="7.6"/>
								<rect x="509.1" y="166.3" class="st11" width="7.6" height="7.6"/>
								<rect x="497.8" y="166.3" class="st11" width="7.6" height="7.6"/>
								<rect x="486.6" y="166.3" class="st11" width="7.6" height="7.6"/>
								<rect x="475.3" y="166.3" class="st11" width="7.6" height="7.6"/>
							</g>
							<g>
								<rect x="520.4" y="177.8" class="st11" width="7.6" height="7.6"/>
								<rect x="509.1" y="177.8" class="st11" width="7.6" height="7.6"/>
								<rect x="497.8" y="177.8" class="st11" width="7.6" height="7.6"/>
								<rect x="486.6" y="177.8" class="st11" width="7.6" height="7.6"/>
								<rect x="475.3" y="177.8" class="st11" width="7.6" height="7.6"/>
							</g>
							<g>
								<rect x="520.4" y="189.3" class="st11" width="7.6" height="7.7"/>
								<rect x="509.1" y="189.3" class="st11" width="7.6" height="7.7"/>
								<rect x="497.8" y="189.3" class="st11" width="7.6" height="7.7"/>
								<rect x="486.6" y="189.3" class="st11" width="7.6" height="7.7"/>
								<rect x="475.3" y="189.3" class="st11" width="7.6" height="7.7"/>
							</g>
							<g>
								<rect x="520.4" y="200.8" class="st11" width="7.6" height="7.6"/>
								<rect x="509.1" y="200.8" class="st11" width="7.6" height="7.6"/>
								<rect x="497.8" y="200.8" class="st11" width="7.6" height="7.6"/>
								<rect x="486.6" y="200.8" class="st11" width="7.6" height="7.6"/>
								<rect x="475.3" y="200.8" class="st11" width="7.6" height="7.6"/>
							</g>
							<g>
								<rect x="520.4" y="212.3" class="st11" width="7.6" height="7.7"/>
								<rect x="509.1" y="212.3" class="st11" width="7.6" height="7.7"/>
								<rect x="497.8" y="212.3" class="st11" width="7.6" height="7.7"/>
								<rect x="486.6" y="212.3" class="st11" width="7.6" height="7.7"/>
								<rect x="475.3" y="212.3" class="st11" width="7.6" height="7.7"/>
							</g>
						</g>
						<g>
							<g>
								<rect x="514.8" y="94" class="st11" width="7.6" height="7.6"/>
								<rect x="503.5" y="94" class="st11" width="7.6" height="7.6"/>
								<rect x="492.2" y="94" class="st11" width="7.6" height="7.6"/>
								<rect x="480.9" y="94" class="st11" width="7.6" height="7.6"/>
							</g>
							<g>
								<rect x="514.8" y="105.5" class="st11" width="7.6" height="7.6"/>
								<rect x="503.5" y="105.5" class="st11" width="7.6" height="7.6"/>
								<rect x="492.2" y="105.5" class="st11" width="7.6" height="7.6"/>
								<rect x="480.9" y="105.5" class="st11" width="7.6" height="7.6"/>
							</g>
							<g>
								<rect x="514.8" y="117" class="st11" width="7.6" height="7.6"/>
								<rect x="503.5" y="117" class="st11" width="7.6" height="7.6"/>
								<rect x="492.2" y="117" class="st11" width="7.6" height="7.6"/>
								<rect x="480.9" y="117" class="st11" width="7.6" height="7.6"/>
							</g>
						</g>
						<g>
							<rect x="509.1" y="57.4" class="st11" width="7.6" height="7.6"/>
							<rect x="497.8" y="57.4" class="st11" width="7.6" height="7.6"/>
							<rect x="486.6" y="57.4" class="st11" width="7.6" height="7.6"/>
							<rect x="509.1" y="68.9" class="st11" width="7.6" height="7.6"/>
							<rect x="497.8" y="68.9" class="st11" width="7.6" height="7.6"/>
							<rect x="486.6" y="68.9" class="st11" width="7.6" height="7.6"/>
							<rect x="509.1" y="80.4" class="st11" width="7.6" height="7.6"/>
							<rect x="497.8" y="80.4" class="st11" width="7.6" height="7.6"/>
							<rect x="486.6" y="80.4" class="st11" width="7.6" height="7.6"/>
						</g>
						<g>
							<rect x="503.5" y="10.4" class="st11" width="7.6" height="7.6"/>
							<rect x="492.2" y="10.4" class="st11" width="7.6" height="7.6"/>
							<rect x="503.5" y="21.9" class="st11" width="7.6" height="7.6"/>
							<rect x="492.2" y="21.9" class="st11" width="7.6" height="7.6"/>
							<rect x="503.5" y="33.4" class="st11" width="7.6" height="7.6"/>
							<rect x="492.2" y="33.4" class="st11" width="7.6" height="7.6"/>
							<rect x="503.5" y="44.9" class="st11" width="7.6" height="7.6"/>
							<rect x="492.2" y="44.9" class="st11" width="7.6" height="7.6"/>
						</g>
						<polygon class="st10" points="514.2,3.3 489.1,3.3 501.7,-6.9 		"/>
					</g>
					<g>
						<rect x="545" y="75.3" class="st12" width="58.1" height="151.3"/>
						<rect x="516.2" y="129.1" class="st12" width="28.8" height="97.5"/>
						<g>
							<g>
								<rect x="589.4" y="120" class="st13" width="8.9" height="8.8"/>
								<rect x="576.3" y="120" class="st13" width="8.9" height="8.8"/>
								<rect x="563.2" y="120" class="st13" width="8.8" height="8.8"/>
								<rect x="550.2" y="120" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="589.4" y="106.9" class="st13" width="8.9" height="8.8"/>
								<rect x="576.3" y="106.9" class="st13" width="8.9" height="8.8"/>
								<rect x="563.2" y="106.9" class="st13" width="8.8" height="8.8"/>
								<rect x="550.2" y="106.9" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="589.4" y="93.8" class="st13" width="8.9" height="8.8"/>
								<rect x="576.3" y="93.8" class="st13" width="8.9" height="8.8"/>
								<rect x="563.2" y="93.8" class="st13" width="8.8" height="8.8"/>
								<rect x="550.2" y="93.8" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="589.4" y="80.6" class="st13" width="8.9" height="8.8"/>
								<rect x="576.3" y="80.6" class="st13" width="8.9" height="8.8"/>
								<rect x="563.2" y="80.6" class="st13" width="8.8" height="8.8"/>
								<rect x="550.2" y="80.6" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="589.4" y="133.1" class="st13" width="8.9" height="8.8"/>
								<rect x="576.3" y="133.1" class="st13" width="8.9" height="8.8"/>
								<rect x="563.2" y="133.1" class="st13" width="8.8" height="8.8"/>
								<rect x="550.2" y="133.1" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="589.4" y="146.3" class="st13" width="8.9" height="8.8"/>
								<rect x="576.3" y="146.3" class="st13" width="8.9" height="8.8"/>
								<rect x="563.2" y="146.3" class="st13" width="8.8" height="8.8"/>
								<rect x="550.2" y="146.3" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="589.4" y="159.4" class="st13" width="8.9" height="8.8"/>
								<rect x="576.3" y="159.4" class="st13" width="8.9" height="8.8"/>
								<rect x="563.2" y="159.4" class="st13" width="8.8" height="8.8"/>
								<rect x="550.2" y="159.4" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="589.4" y="172.5" class="st13" width="8.9" height="8.9"/>
								<rect x="576.3" y="172.5" class="st13" width="8.9" height="8.9"/>
								<rect x="563.2" y="172.5" class="st13" width="8.8" height="8.9"/>
								<rect x="550.2" y="172.5" class="st13" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="589.4" y="185.7" class="st13" width="8.9" height="8.8"/>
								<rect x="576.3" y="185.7" class="st13" width="8.9" height="8.8"/>
								<rect x="563.2" y="185.7" class="st13" width="8.8" height="8.8"/>
								<rect x="550.2" y="185.7" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="589.4" y="198.8" class="st13" width="8.9" height="8.8"/>
								<rect x="576.3" y="198.8" class="st13" width="8.9" height="8.8"/>
								<rect x="563.2" y="198.8" class="st13" width="8.8" height="8.8"/>
								<rect x="550.2" y="198.8" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="589.4" y="211.9" class="st13" width="8.9" height="8.8"/>
								<rect x="576.3" y="211.9" class="st13" width="8.9" height="8.8"/>
								<rect x="563.2" y="211.9" class="st13" width="8.8" height="8.8"/>
								<rect x="550.2" y="211.9" class="st13" width="8.8" height="8.8"/>
							</g>
						</g>
						<g>
							<g>
								<rect x="534.1" y="133.1" class="st13" width="8.8" height="8.8"/>
								<rect x="521.1" y="133.1" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="534.1" y="146.3" class="st13" width="8.8" height="8.8"/>
								<rect x="521.1" y="146.3" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="534.1" y="159.4" class="st13" width="8.8" height="8.8"/>
								<rect x="521.1" y="159.4" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="534.1" y="172.5" class="st13" width="8.8" height="8.9"/>
								<rect x="521.1" y="172.5" class="st13" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="534.1" y="185.7" class="st13" width="8.8" height="8.8"/>
								<rect x="521.1" y="185.7" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="534.1" y="198.8" class="st13" width="8.8" height="8.8"/>
								<rect x="521.1" y="198.8" class="st13" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="534.1" y="211.9" class="st13" width="8.8" height="8.8"/>
								<rect x="521.1" y="211.9" class="st13" width="8.8" height="8.8"/>
							</g>
						</g>
						<rect x="516.2" y="226.5" class="st14" width="86.9" height="2.5"/>
						<rect x="516.2" y="124.4" class="st14" width="28.8" height="4.6"/>
						<rect x="545" y="72.2" class="st14" width="58.1" height="3.1"/>
						<polygon class="st14" points="599.5,72.2 548.6,72.2 574.1,51.5 		"/>
					</g>
					<g>
						<rect x="262.8" y="161.2" class="st15" width="101.2" height="67.9"/>
						<path class="st16" d="M326,176.8h6v-6h-6V176.8z M333.4,170.8v6h6v-6H333.4z M326,184.2h6v-6h-6V184.2z M333.4,184.2h6v-6h-6
							V184.2z"/>
						<path class="st16" d="M326,207.2h6v-6h-6V207.2z M333.4,201.3v6h6v-6H333.4z M326,214.7h6v-6h-6V214.7z M333.4,214.7h6v-6h-6
							V214.7z"/>
						<path class="st16" d="M306.7,176.8h6v-6h-6V176.8z M314.1,170.8v6h6v-6H314.1z M306.7,184.2h6v-6h-6V184.2z M314.1,184.2h6v-6h-6
							V184.2z"/>
						<path class="st16" d="M287.4,176.8h6v-6h-6V176.8z M294.8,170.8v6h6v-6H294.8z M287.4,184.2h6v-6h-6V184.2z M294.8,184.2h6v-6h-6
							V184.2z"/>
						<path class="st16" d="M287.4,207.2h6v-6h-6V207.2z M294.8,201.3v6h6v-6H294.8z M287.4,214.7h6v-6h-6V214.7z M294.8,214.7h6v-6h-6
							V214.7z"/>
						<path class="st16" d="M268.1,176.8h6v-6h-6V176.8z M275.5,170.8v6h6v-6H275.5z M268.1,184.2h6v-6h-6V184.2z M275.5,184.2h6v-6h-6
							V184.2z"/>
						<path class="st16" d="M345.3,176.8h6v-6h-6V176.8z M352.7,170.8v6h6v-6H352.7z M345.3,184.2h6v-6h-6V184.2z M352.7,184.2h6v-6h-6
							V184.2z"/>
						<path class="st16" d="M268.1,207.2h6v-6h-6V207.2z M275.5,201.3v6h6v-6H275.5z M268.1,214.7h6v-6h-6V214.7z M275.5,214.7h6v-6h-6
							V214.7z"/>
						<path class="st16" d="M345.3,207.2h6v-6h-6V207.2z M352.7,201.3v6h6v-6H352.7z M345.3,214.7h6v-6h-6V214.7z M352.7,214.7h6v-6h-6
							V214.7z"/>
						<rect x="261.2" y="225.8" class="st17" width="104.3" height="3.3"/>
						<polygon class="st17" points="368.5,161.2 258.3,161.2 270.7,136.6 356,136.6 		"/>
						<rect x="303.1" y="225" class="st18" width="20.1" height="2.1"/>
						<rect x="301.4" y="227" class="st19" width="23.6" height="2.1"/>
						<path class="st17" d="M306.1,201.1c0,3.2,0,20.7,0,23.9c2.9,0,11.2,0,14.1,0c0-3.2,0-20.7,0-23.9
							C317.3,201.1,309,201.1,306.1,201.1z"/>
					</g>
					<g>
						<g>
							<rect x="380.9" y="76.8" class="st15" width="58.1" height="149.8"/>
							<rect x="352.1" y="129.1" class="st15" width="28.8" height="97.5"/>
							<g>
								<g>
									<rect x="425.2" y="120" class="st16" width="8.8" height="8.8"/>
									<rect x="412.2" y="120" class="st16" width="8.8" height="8.8"/>
									<rect x="399.1" y="120" class="st16" width="8.8" height="8.8"/>
									<rect x="386.1" y="120" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="425.2" y="106.9" class="st16" width="8.8" height="8.9"/>
									<rect x="412.2" y="106.9" class="st16" width="8.8" height="8.9"/>
									<rect x="399.1" y="106.9" class="st16" width="8.8" height="8.9"/>
									<rect x="386.1" y="106.9" class="st16" width="8.8" height="8.9"/>
								</g>
								<g>
									<rect x="425.2" y="93.8" class="st16" width="8.8" height="8.8"/>
									<rect x="412.2" y="93.8" class="st16" width="8.8" height="8.8"/>
									<rect x="399.1" y="93.8" class="st16" width="8.8" height="8.8"/>
									<rect x="386.1" y="93.8" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="425.2" y="80.6" class="st16" width="8.8" height="8.8"/>
									<rect x="412.2" y="80.6" class="st16" width="8.8" height="8.8"/>
									<rect x="399.1" y="80.6" class="st16" width="8.8" height="8.8"/>
									<rect x="386.1" y="80.6" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="425.2" y="133.1" class="st16" width="8.8" height="8.8"/>
									<rect x="412.2" y="133.1" class="st16" width="8.8" height="8.8"/>
									<rect x="399.1" y="133.1" class="st16" width="8.8" height="8.8"/>
									<rect x="386.1" y="133.1" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="425.2" y="146.3" class="st16" width="8.8" height="8.8"/>
									<rect x="412.2" y="146.3" class="st16" width="8.8" height="8.8"/>
									<rect x="399.1" y="146.3" class="st16" width="8.8" height="8.8"/>
									<rect x="386.1" y="146.3" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="425.2" y="159.4" class="st16" width="8.8" height="8.8"/>
									<rect x="412.2" y="159.4" class="st16" width="8.8" height="8.8"/>
									<rect x="399.1" y="159.4" class="st16" width="8.8" height="8.8"/>
									<rect x="386.1" y="159.4" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="425.2" y="172.5" class="st16" width="8.8" height="8.9"/>
									<rect x="412.2" y="172.5" class="st16" width="8.8" height="8.9"/>
									<rect x="399.1" y="172.5" class="st16" width="8.8" height="8.9"/>
									<rect x="386.1" y="172.5" class="st16" width="8.8" height="8.9"/>
								</g>
								<g>
									<rect x="425.2" y="185.7" class="st16" width="8.8" height="8.8"/>
									<rect x="412.2" y="185.7" class="st16" width="8.8" height="8.8"/>
									<rect x="399.1" y="185.7" class="st16" width="8.8" height="8.8"/>
									<rect x="386.1" y="185.7" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="425.2" y="198.8" class="st16" width="8.8" height="8.8"/>
									<rect x="412.2" y="198.8" class="st16" width="8.8" height="8.8"/>
									<rect x="399.1" y="198.8" class="st16" width="8.8" height="8.8"/>
									<rect x="386.1" y="198.8" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="425.2" y="211.9" class="st16" width="8.8" height="8.9"/>
									<rect x="412.2" y="211.9" class="st16" width="8.8" height="8.9"/>
									<rect x="399.1" y="211.9" class="st16" width="8.8" height="8.9"/>
									<rect x="386.1" y="211.9" class="st16" width="8.8" height="8.9"/>
								</g>
							</g>
							<g>
								<g>
									<rect x="370" y="133.1" class="st16" width="8.8" height="8.8"/>
									<rect x="356.9" y="133.1" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="370" y="146.3" class="st16" width="8.8" height="8.8"/>
									<rect x="356.9" y="146.3" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="370" y="159.4" class="st16" width="8.8" height="8.8"/>
									<rect x="356.9" y="159.4" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="370" y="172.5" class="st16" width="8.8" height="8.9"/>
									<rect x="356.9" y="172.5" class="st16" width="8.8" height="8.9"/>
								</g>
								<g>
									<rect x="370" y="185.7" class="st16" width="8.8" height="8.8"/>
									<rect x="356.9" y="185.7" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="370" y="198.8" class="st16" width="8.8" height="8.8"/>
									<rect x="356.9" y="198.8" class="st16" width="8.8" height="8.8"/>
								</g>
								<g>
									<rect x="370" y="211.9" class="st16" width="8.8" height="8.9"/>
									<rect x="356.9" y="211.9" class="st16" width="8.8" height="8.9"/>
								</g>
							</g>
							<rect x="352.1" y="226.5" class="st17" width="86.9" height="2.5"/>
							<rect x="352.1" y="124.4" class="st17" width="28.8" height="4.6"/>
						</g>
						<g>
							<rect x="387" y="35.7" class="st15" width="45.6" height="41.1"/>
							<rect x="393.6" y="-19.8" class="st15" width="32.5" height="55.5"/>
							<rect x="393.6" y="-23.5" class="st17" width="32.5" height="3.7"/>
							<rect x="393.6" y="-23.5" class="st17" width="32.5" height="3.7"/>
							<rect x="407.8" y="-62.4" class="st17" width="2.8" height="28.4"/>
							<g>
								<rect x="418.4" y="39" class="st16" width="8.8" height="8.8"/>
								<rect x="405.4" y="39" class="st16" width="8.8" height="8.8"/>
								<rect x="392.3" y="39" class="st16" width="8.8" height="8.8"/>
								<rect x="418.4" y="52.3" class="st16" width="8.8" height="8.8"/>
								<rect x="405.4" y="52.3" class="st16" width="8.8" height="8.8"/>
								<rect x="392.3" y="52.3" class="st16" width="8.8" height="8.8"/>
								<rect x="418.4" y="65.6" class="st16" width="8.8" height="8.8"/>
								<rect x="405.4" y="65.6" class="st16" width="8.8" height="8.8"/>
								<rect x="392.3" y="65.6" class="st16" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="411.9" y="-15.4" class="st16" width="8.8" height="8.9"/>
								<rect x="398.8" y="-15.4" class="st16" width="8.8" height="8.9"/>
								<rect x="411.9" y="-2.1" class="st16" width="8.8" height="8.8"/>
								<rect x="398.8" y="-2.1" class="st16" width="8.8" height="8.8"/>
								<rect x="411.9" y="11.2" class="st16" width="8.8" height="8.9"/>
								<rect x="398.8" y="11.2" class="st16" width="8.8" height="8.9"/>
								<rect x="411.9" y="24.5" class="st16" width="8.8" height="8.9"/>
								<rect x="398.8" y="24.5" class="st16" width="8.8" height="8.9"/>
							</g>
							<polygon class="st17" points="424.3,-23.5 395.2,-23.5 409.8,-35.3 			"/>
						</g>
					</g>
					<g>
						<rect x="408.8" y="110.8" class="st20" width="43.6" height="113.2"/>
						<rect x="408.8" y="224" class="st21" width="43.6" height="5.1"/>
						<rect x="408.8" y="108.7" class="st21" width="43.6" height="2.1"/>
						<g>
							<g>
								<rect x="413.2" y="118.1" class="st22" width="8.9" height="8.8"/>
								<rect x="426.1" y="118.1" class="st22" width="8.8" height="8.8"/>
								<rect x="439" y="118.1" class="st22" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="413.2" y="131.1" class="st22" width="8.9" height="8.8"/>
								<rect x="426.1" y="131.1" class="st22" width="8.8" height="8.8"/>
								<rect x="439" y="131.1" class="st22" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="413.2" y="144.1" class="st22" width="8.9" height="8.8"/>
								<rect x="426.1" y="144.1" class="st22" width="8.8" height="8.8"/>
								<rect x="439" y="144.1" class="st22" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="413.2" y="157" class="st22" width="8.9" height="8.8"/>
								<rect x="426.1" y="157" class="st22" width="8.8" height="8.8"/>
								<rect x="439" y="157" class="st22" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="413.2" y="170" class="st22" width="8.9" height="8.8"/>
								<rect x="426.1" y="170" class="st22" width="8.8" height="8.8"/>
								<rect x="439" y="170" class="st22" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="413.2" y="183" class="st22" width="8.9" height="8.8"/>
								<rect x="426.1" y="183" class="st22" width="8.8" height="8.8"/>
								<rect x="439" y="183" class="st22" width="8.8" height="8.8"/>
							</g>
							<g>
								<rect x="413.2" y="195.9" class="st22" width="8.9" height="8.9"/>
								<rect x="426.1" y="195.9" class="st22" width="8.8" height="8.9"/>
								<rect x="439" y="195.9" class="st22" width="8.8" height="8.9"/>
							</g>
							<g>
								<rect x="413.2" y="208.9" class="st22" width="8.9" height="8.8"/>
								<rect x="426.1" y="208.9" class="st22" width="8.8" height="8.8"/>
								<rect x="439" y="208.9" class="st22" width="8.8" height="8.8"/>
							</g>
						</g>
						<polygon class="st21" points="450.6,108.7 410.5,108.7 430.6,92.5 		"/>
					</g>
					<g>
						<g>
							<rect x="583.9" y="106" class="st9" width="45.4" height="117.8"/>
							<rect x="583.9" y="223.8" class="st10" width="45.4" height="5.3"/>
							<rect x="583.9" y="103.9" class="st10" width="45.4" height="2.2"/>
							<rect x="589.5" y="91.7" class="st10" width="34.3" height="12.2"/>
							<g>
								<g>
									<rect x="615.4" y="113.6" class="st11" width="9.2" height="9.2"/>
									<rect x="602" y="113.6" class="st11" width="9.2" height="9.2"/>
									<rect x="588.6" y="113.6" class="st11" width="9.2" height="9.2"/>
								</g>
								<g>
									<rect x="615.4" y="127.1" class="st11" width="9.2" height="9.2"/>
									<rect x="602" y="127.1" class="st11" width="9.2" height="9.2"/>
									<rect x="588.6" y="127.1" class="st11" width="9.2" height="9.2"/>
								</g>
								<g>
									<rect x="615.4" y="140.6" class="st11" width="9.2" height="9.2"/>
									<rect x="602" y="140.6" class="st11" width="9.2" height="9.2"/>
									<rect x="588.6" y="140.6" class="st11" width="9.2" height="9.2"/>
								</g>
								<g>
									<rect x="615.4" y="154.1" class="st11" width="9.2" height="9.2"/>
									<rect x="602" y="154.1" class="st11" width="9.2" height="9.2"/>
									<rect x="588.6" y="154.1" class="st11" width="9.2" height="9.2"/>
								</g>
								<g>
									<rect x="615.4" y="167.6" class="st11" width="9.2" height="9.2"/>
									<rect x="602" y="167.6" class="st11" width="9.2" height="9.2"/>
									<rect x="588.6" y="167.6" class="st11" width="9.2" height="9.2"/>
								</g>
								<g>
									<rect x="615.4" y="181.1" class="st11" width="9.2" height="9.2"/>
									<rect x="602" y="181.1" class="st11" width="9.2" height="9.2"/>
									<rect x="588.6" y="181.1" class="st11" width="9.2" height="9.2"/>
								</g>
								<g>
									<rect x="615.4" y="194.6" class="st11" width="9.2" height="9.2"/>
									<rect x="602" y="194.6" class="st11" width="9.2" height="9.2"/>
									<rect x="588.6" y="194.6" class="st11" width="9.2" height="9.2"/>
								</g>
								<g>
									<rect x="615.4" y="208.1" class="st11" width="9.2" height="9.2"/>
									<rect x="602" y="208.1" class="st11" width="9.2" height="9.2"/>
									<rect x="588.6" y="208.1" class="st11" width="9.2" height="9.2"/>
								</g>
							</g>
							<rect x="629.3" y="160.1" class="st9" width="45.4" height="63.7"/>
							<rect x="629.3" y="223.8" class="st10" width="45.4" height="5.3"/>
							<rect x="629.3" y="158" class="st10" width="45.4" height="2.2"/>
							<g>
								<g>
									<rect x="660.8" y="167.6" class="st11" width="9.2" height="9.2"/>
									<rect x="647.4" y="167.6" class="st11" width="9.2" height="9.2"/>
									<rect x="633.9" y="167.6" class="st11" width="9.2" height="9.2"/>
								</g>
								<g>
									<rect x="660.8" y="181.1" class="st11" width="9.2" height="9.2"/>
									<rect x="647.4" y="181.1" class="st11" width="9.2" height="9.2"/>
									<rect x="633.9" y="181.1" class="st11" width="9.2" height="9.2"/>
								</g>
								<g>
									<rect x="660.8" y="194.6" class="st11" width="9.2" height="9.2"/>
									<rect x="647.4" y="194.6" class="st11" width="9.2" height="9.2"/>
									<rect x="633.9" y="194.6" class="st11" width="9.2" height="9.2"/>
								</g>
								<g>
									<rect x="660.8" y="208.1" class="st11" width="9.2" height="9.2"/>
									<rect x="647.4" y="208.1" class="st11" width="9.2" height="9.2"/>
									<rect x="633.9" y="208.1" class="st11" width="9.2" height="9.2"/>
								</g>
							</g>
						</g>
						<rect x="605.3" y="55" class="st10" width="2.5" height="25.8"/>
						<polygon class="st10" points="593.4,91.7 619.8,91.7 606.6,79.4 		"/>
						<rect x="634.9" y="145.8" class="st10" width="34.3" height="12.2"/>
						<rect x="650.7" y="109.1" class="st10" width="2.5" height="25.8"/>
						<polygon class="st10" points="638.8,145.8 665.1,145.8 652,133.5 		"/>
					</g>
					<g>
						<rect x="584.1" y="174.8" class="st15" width="48.2" height="54.3"/>
						<rect x="535.9" y="174.8" class="st15" width="48.2" height="54.3"/>
						<rect x="532.6" y="223.7" class="st17" width="103.1" height="5.4"/>
						<rect x="560.9" y="223.7" class="st18" width="17.5" height="2.7"/>
						<rect x="559.4" y="226.4" class="st19" width="20.5" height="2.7"/>
						<path class="st17" d="M563.6,199.9c0,3.2,0,20.6,0,23.8c2.5,0,9.7,0,12.2,0c0-3.2,0-20.6,0-23.8
							C573.3,199.9,566.1,199.9,563.6,199.9z"/>
						<g>
							<g>
								<path class="st16" d="M541.4,185.4h6.5v-6.5h-6.5V185.4z M541.4,193.5h6.5V187h-6.5V193.5z M549.6,178.9v6.5h6.5v-6.5H549.6z
									 M549.6,193.5h6.5V187h-6.5V193.5z"/>
							</g>
							<g>
								<path class="st16" d="M541.4,214.7h6.5v-6.5h-6.5V214.7z M541.4,206.5h6.5V200h-6.5V206.5z M549.6,214.7h6.5v-6.5h-6.5V214.7z
									 M549.6,200v6.5h6.5V200H549.6z"/>
							</g>
							<g>
								<path class="st16" d="M563.9,185.4h6.5v-6.5h-6.5V185.4z M563.9,193.5h6.5V187h-6.5V193.5z M572.1,178.9v6.5h6.5v-6.5H572.1z
									 M572.1,193.5h6.5V187h-6.5V193.5z"/>
							</g>
						</g>
						<rect x="609.1" y="223.7" class="st18" width="17.5" height="2.7"/>
						<rect x="607.6" y="226.4" class="st19" width="20.5" height="2.7"/>
						<path class="st17" d="M611.7,199.9c0,3.2,0,20.6,0,23.8c2.5,0,9.7,0,12.2,0c0-3.2,0-20.6,0-23.8
							C621.5,199.9,614.2,199.9,611.7,199.9z"/>
						<g>
							<g>
								<path class="st16" d="M589.6,193.5h6.5V187h-6.5V193.5z M589.6,185.4h6.5v-6.5h-6.5V185.4z M597.8,178.9v6.5h6.5v-6.5H597.8z
									 M597.8,193.5h6.5V187h-6.5V193.5z"/>
							</g>
							<g>
								<path class="st16" d="M589.6,214.7h6.5v-6.5h-6.5V214.7z M589.6,206.5h6.5V200h-6.5V206.5z M597.8,214.7h6.5v-6.5h-6.5V214.7z
									 M597.8,200v6.5h6.5V200H597.8z"/>
							</g>
							<g>
								<path class="st16" d="M612.1,193.5h6.5V187h-6.5V193.5z M612.1,185.4h6.5v-6.5h-6.5V185.4z M620.3,193.5h6.5V187h-6.5V193.5z
									 M620.3,178.9v6.5h6.5v-6.5H620.3z"/>
							</g>
						</g>
						<rect x="534.7" y="172.3" class="st17" width="98.9" height="2.5"/>
					</g>
					<g>
						<rect x="472.5" y="178.1" class="st23" width="90.5" height="43.9"/>
						<rect x="490" y="138.1" class="st23" width="11.9" height="33.9"/>
						<polygon class="st24" points="468.9,179.5 566.6,179.5 555.5,145.9 479.9,145.9 		"/>
						<rect x="488.6" y="136.9" class="st24" width="14.8" height="2.4"/>
						<rect x="469.8" y="222" class="st24" width="95.8" height="7.1"/>
						<path class="st24" d="M502,190.9c0,4.1,0,27,0,31.2c-3.3,0-12.8,0-16,0c0-4.1,0-27,0-31.2C489.2,190.9,498.7,190.9,502,190.9z"/>
						<rect x="482.5" y="222" class="st18" width="23" height="3.5"/>
						<rect x="480.5" y="225.6" class="st19" width="26.9" height="3.5"/>
						<g>
							<path class="st24" d="M550.9,213.4v-10.1h-10.1v3.2v6.9H550.9z M550.9,190.7h-10.1v10.1h10.1V190.7z M525.6,200.8v-10.1h-10.1
								v10.1H525.6z M525.6,213.4v-10.1h-10.1v10.1H525.6z M538.2,213.4v-10.1h-10.1v3.2v6.9H538.2z M538.2,200.8v-10.1h-10.1v10.1
								H538.2z"/>
						</g>
					</g>
					<g>
						<rect x="314.5" y="171" class="st0" width="70.9" height="52.6"/>
						<rect x="362.4" y="141.4" class="st0" width="9.3" height="26.5"/>
						<polygon class="st2" points="388.2,173.8 311.7,173.8 320.4,147.5 379.6,147.5 		"/>
						<rect x="361.2" y="140.4" class="st2" width="11.6" height="1.9"/>
						<rect x="312.5" y="223.6" class="st2" width="75" height="5.5"/>
						<g>
							<path class="st1" d="M327.1,192.6h6.7v-6.7h-6.7V192.6z M327.1,184.2h4.6h2.1v-6.7h-6.7L327.1,184.2L327.1,184.2z M335.4,177.5
								v6.7h6.7v-6.7H335.4z M335.4,192.6h6.7v-6.7h-6.7V192.6z"/>
						</g>
						<g>
							<path class="st1" d="M358.2,184.2h6.7v-6.7h-6.7V184.2z M366.6,177.5v6.7h6.7v-6.7H366.6z M358.2,192.6h6.7v-6.7h-6.7V192.6z
								 M366.6,192.6h6.7v-6.7h-6.7V192.6z"/>
						</g>
						<g>
							<path class="st1" d="M327.1,205.6h6.7v-6.7h-6.7V205.6z M335.4,198.9v6.7h6.7v-6.7H335.4z M327.1,214h6.7v-6.7h-6.7V214z
								 M335.4,214h6.7v-6.7h-6.7V214z"/>
						</g>
						<path class="st25" d="M359.5,199.2c0,3.2,0,21.2,0,24.4c2.6,0,10,0,12.6,0c0-3.2,0-21.2,0-24.4C369.5,199.2,362,199.2,359.5,199.2
							z"/>
						<rect x="356.8" y="223.6" class="st18" width="18" height="2.8"/>
						<rect x="355.2" y="226.3" class="st19" width="21.1" height="2.8"/>
					</g>
				</g>
		</svg>
	</div>
	<h2>
		<span>What city do you </span>
		<span>want to live in after </span>
		<span>you graduate?</span>
	</h2>
	<div>
		<angucomplete id="school"
			placeholder="{{selectArea.area}}"
			pause="100"
			selectedobject="selectArea"
			localdata="regions"
			searchfields="area,state"
			titlefield="area,state"
			minlength="1"
			inputclass="form-control"
			matchclass="highlight" />		
	</div>
	<div class="dnone required">
		<span>Please Select An Option From the List.</span>
		<span>If your city does not appear use 'Rural' and the state's name.</span>
	</div>
	<!-- <div ng-click="goRates(selectArea.originalObject)" class="next">Next</div> -->
	<div ng-click="goComplete(selectArea.originalObject)" class="next black">Finish</div>
</section>