<section class="majors slide">
	<div class="icon">
		<!-- <ng-include src="'img/book.svg'" animatePoly></ng-include> -->
		<svg version="1.1" id="Object" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="593.5 91.9 333.9 344.1" style="enable-background:new 593.5 91.9 333.9 344.1;" xml:space="preserve" preserveAspectRatio="xMidYMid meet" width="100%" height="100%" class="svg book">
				<g>
					<g>
						
							<rect x="630" y="263.3" transform="matrix(0.9959 -9.064240e-02 9.064240e-02 0.9959 -24.3451 60.3487)" class="st0" width="44.5" height="69.9"/>
						<rect x="616.8" y="314.1" class="st1" width="74.1" height="69.9"/>
						<rect x="612.4" y="326.9" class="st2" width="85.5" height="109.1"/>
					</g>
					<g>
						
							<rect x="615.3" y="226.2" transform="matrix(0.9527 -0.3039 0.3039 0.9527 -49.2118 206.1014)" class="st0" width="44.5" height="69.9"/>
					</g>
					<g>
						
							<rect x="846.3" y="263.3" transform="matrix(-0.9959 -9.064217e-02 9.064217e-02 -0.9959 1706.4998 674.0162)" class="st0" width="44.5" height="69.9"/>
						<rect x="829.9" y="314.1" class="st1" width="74.1" height="69.9"/>
						<rect x="823" y="326.9" class="st2" width="85.5" height="109.1"/>
					</g>
					<g>
						
							<rect x="861" y="226.1" transform="matrix(-0.9527 -0.3039 0.3039 -0.9527 1645.3566 778.1703)" class="st0" width="44.5" height="69.9"/>
					</g>
					<g>
						<path class="st1" d="M895.5,294.4c-39.6-10.8-82.1-7.2-121.4,10.3c-1.7-55.3,3.9-103.7,2.2-159c34.2-31.5,35.7-41.4,103.5-53.8
							C884.6,159.4,891.9,226.9,895.5,294.4z"/>
						<path class="st3" d="M898.9,290.6c-40.7,2.7-81.1,6.7-121.3,12c-1.8-55.8,1.3-100.4-0.4-156.2c28.6-23.4,57.9-40.3,107.5-46.9
							C886.6,163.2,897.7,226.9,898.9,290.6z"/>
						<path class="st1" d="M901.7,304.2c-40.7,2.7-80.4,6.7-120.5,12c-1.8-55.8-3.5-111.7-5.3-167.5c40.5-26.1,60.8-33.9,113.6-43
							C894.4,171.9,898,238,901.7,304.2z"/>
						<path class="st3" d="M901.7,304.2c-40.7,2.7-80.4,6.7-120.5,12c-1.8-55.8-3.5-110.9-5.3-166.8c47.6-20.7,62.9-26.8,122-36.3
							C899.7,176.8,900.5,240.5,901.7,304.2z"/>
						<path class="st1" d="M901.7,305.4c-40.3,4-80.6,8-120.9,12c0-55.9,0-111.7,0-167.6c40.7-12,70.9-18.8,118.9-26
							C901.2,183.6,900.2,245.5,901.7,305.4z"/>
						<path class="st1" d="M623.9,294.4c39.6-10.8,82.1-7.2,121.4,10.3c1.7-55.3-3.9-103.7-2.2-159c-34.2-31.5-35.7-41.4-103.5-53.8
							C634.8,159.4,627.5,226.9,623.9,294.4z"/>
						<path class="st3" d="M620.5,290.6c40.7,2.7,81.1,6.7,121.3,12c1.8-55.8-1.3-100.4,0.4-156.2c-28.6-23.4-57.9-40.3-107.5-46.9
							C632.8,163.2,621.7,226.9,620.5,290.6z"/>
						<path class="st1" d="M617.7,304.2c40.7,2.7,80.4,6.7,120.5,12c1.8-55.8,3.5-111.7,5.3-167.5c-40.5-26.1-60.8-33.9-113.6-43
							C625,171.9,621.4,238,617.7,304.2z"/>
						<path class="st3" d="M617.7,304.2c40.7,2.7,80.4,6.7,120.5,12c1.8-55.8,3.5-110.9,5.3-166.8c-47.6-20.7-62.9-26.8-122-36.3
							C619.7,176.8,618.9,240.5,617.7,304.2z"/>
						<path class="st1" d="M617.7,305.4c40.3,4,80.6,8,120.9,12c0-55.9,0-111.7,0-167.6c-40.7-12-70.9-18.8-118.9-26
							C618.2,183.6,619.2,245.5,617.7,305.4z"/>
						<path class="st1" d="M781.2,150.4c0,4.5-9.6,11.4-21.5,11.4c-11.9,0-21.5-6.9-21.5-11.4s9.6-7,21.5-7
							C771.6,143.4,781.2,145.9,781.2,150.4z"/>
						<path class="st4" d="M781.2,317.4c-13.2,12.6-29.8,12.6-42.9,0c0-55.9,0-111.7,0-167.6c13.2,12.6,29.8,12.6,42.9,0
							C781.2,205.6,781.2,261.5,781.2,317.4z"/>
						<path class="st5" d="M781.2,200.2c-13.2,12.6-29.8,12.6-42.9,0c0-55.9,0,43.8,0-12.1c13.2,12.6,29.8,12.6,42.9,0
							C781.2,244,781.2,144.3,781.2,200.2z"/>
						<path class="st5" d="M781.2,220.8c-13.2,12.6-29.8,12.6-42.9,0c0-55.9,0,43.8,0-12.1c13.2,12.6,29.8,12.6,42.9,0
							C781.2,264.6,781.2,165,781.2,220.8z"/>
						<path class="st5" d="M781.2,302c-13.2,12.6-29.8,12.6-42.9,0c0-55.9,0,43.8,0-12.1c13.2,12.6,29.8,12.6,42.9,0
							C781.2,345.8,781.2,246.1,781.2,302z"/>
						<g>
							<path class="st5" d="M902.1,305.4c-40.3,4-80.6,8-120.9,12c0-55.9,0-111.7,0-167.6c40.3-4,80.6-8,120.9-12
								C902.1,193.6,902.1,249.5,902.1,305.4z"/>
						</g>
						<g>
							<path class="st4" d="M895.9,165.4c-34.8,3.3-69.6,6.5-104.4,9.8c0-2.5,0-4.9,0-7.4c34.8-3.3,69.6-6.5,104.4-9.8
								C895.9,160.5,895.9,163,895.9,165.4z"/>
						</g>
						<g>
							<path class="st4" d="M895.9,178.2c-34.8,3.3-69.6,6.5-104.4,9.8c0-2.5,0-4.9,0-7.4c34.8-3.3,69.6-6.5,104.4-9.8
								C895.9,173.3,895.9,175.7,895.9,178.2z"/>
						</g>
						<g>
							<path class="st4" d="M865.7,262.7c-14.7,1.4-29.3,2.8-44,4.1c0-2.5,0-4.9,0-7.4c14.7-1.4,29.3-2.8,44-4.1
								C865.7,257.8,865.7,260.3,865.7,262.7z"/>
						</g>
						<g>
							<path class="st4" d="M856.7,275.2c-8.6,0.7-17.2,1.5-25.8,2.2c0-2.5,0-4.9,0-7.4c8.6-0.7,17.2-1.5,25.8-2.2
								C856.7,270.3,856.7,272.8,856.7,275.2z"/>
						</g>
						<g>
							<path class="st5" d="M617.4,305.4c40.3,4,80.6,8,120.9,12c0-55.9,0-111.7,0-167.6c-40.3-4-80.6-8-120.9-12
								C617.4,193.6,617.4,249.5,617.4,305.4z"/>
						</g>
						<g>
							<path class="st6" d="M813.3,218.5c2.9,0.9,5.8,1.9,8.7,2.8c-5-25.8,6.7-49.8-0.2-75.6c-5.3,0.5-10.5,0.9-15.8,1.6
								c5.4,25.9-5.7,52.6,1.6,78.5C809.3,223.4,811.2,220.9,813.3,218.5z"/>
						</g>
					</g>
					<g>
						<path class="st0" d="M927.3,187.3c-0.5,4.6-4.6,7.9-9.2,7.4l-41-4.3c-4.6-0.5-7.9-4.6-7.4-9.2l0,0c0.5-4.6,4.6-7.9,9.2-7.4l41,4.3
							C924.4,178.6,927.8,182.7,927.3,187.3L927.3,187.3z"/>
						<path class="st0" d="M925.3,205.2c-0.5,4.6-4.6,7.9-9.2,7.4l-41-4.3c-4.6-0.5-7.9-4.6-7.4-9.2l0,0c0.5-4.6,4.6-7.9,9.2-7.4l41,4.3
							C922.4,196.5,925.8,200.6,925.3,205.2L925.3,205.2z"/>
						<path class="st0" d="M923.7,223.5c-0.5,4.6-4.6,7.9-9.2,7.4l-41-4.3c-4.6-0.5-7.9-4.6-7.4-9.2l0,0c0.5-4.6,4.6-7.9,9.2-7.4l41,4.3
							C920.8,214.8,924.2,218.9,923.7,223.5L923.7,223.5z"/>
						<path class="st0" d="M921.5,240.6c-0.4,4.3-3.9,7.4-7.7,7l-34-3.6c-3.8-0.4-6.5-4.2-6.1-8.4l0,0c0.4-4.3,3.9-7.4,7.7-7l34,3.6
							C919.2,232.6,921.9,236.4,921.5,240.6L921.5,240.6z"/>
						<path class="st0" d="M919.9,233.6c-0.6,6.6-6.7,11.5-13.6,10.9l0,0c-6.9-0.6-12.1-6.4-11.5-13l3.6-41.6
							c0.6-6.6,6.7-11.5,13.6-10.9l0,0c6.9,0.6,12.1,6.4,11.5,13L919.9,233.6z"/>
					</g>
					<g>
						<path class="st0" d="M593.5,187.3c0.5,4.6,4.6,7.9,9.2,7.4l41-4.3c4.6-0.5,7.9-4.6,7.4-9.2l0,0c-0.5-4.6-4.6-7.9-9.2-7.4l-41,4.3
							C596.4,178.6,593.1,182.7,593.5,187.3L593.5,187.3z"/>
						<path class="st0" d="M595.6,205.2c0.5,4.6,4.6,7.9,9.2,7.4l41-4.3c4.6-0.5,7.9-4.6,7.4-9.2l0,0c-0.5-4.6-4.6-7.9-9.2-7.4l-41,4.3
							C598.4,196.5,595.1,200.6,595.6,205.2L595.6,205.2z"/>
						<path class="st0" d="M597.1,223.5c0.5,4.6,4.6,7.9,9.2,7.4l41-4.3c4.6-0.5,7.9-4.6,7.4-9.2l0,0c-0.5-4.6-4.6-7.9-9.2-7.4l-41,4.3
							C600,214.8,596.6,218.9,597.1,223.5L597.1,223.5z"/>
						<path class="st0" d="M599.3,240.6c0.4,4.3,3.9,7.4,7.7,7l34-3.6c3.8-0.4,6.5-4.2,6.1-8.4l0,0c-0.4-4.3-3.9-7.4-7.7-7l-34,3.6
							C601.6,232.6,598.9,236.4,599.3,240.6L599.3,240.6z"/>
						<path class="st0" d="M600.9,233.6c0.6,6.6,6.7,11.5,13.6,10.9l0,0c6.9-0.6,12.1-6.4,11.5-13l-3.6-41.6
							c-0.6-6.6-6.7-11.5-13.6-10.9l0,0c-6.9,0.6-12.1,6.4-11.5,13L600.9,233.6z"/>
					</g>
				</g>
		</svg>
	</div>
	<h2>Select Your Major</h2>
	<div>
		<angucomplete id="major"
			placeholder="{{selectMajor.major}}"
			pause="100"
			selectedobject="selectMajor"
			localdata="majors"
			searchfields="major"
			titlefield="major"
			minlength="1"
			inputclass="form-control"
			matchclass="highlight" />
	</div>
	<div class="dnone required">Please Select An Option From the List.</div>
	<div ng-click="goAreas(selectMajor.originalObject)" class="next black">Next</div>
</section>