<section class="edit form closed">
	<div class="container">
		<h5>Change School</h5>
		<div>
			<angucomplete id="school"
				placeholder="{{selectSchool.school}}"
				pause="100"
				selectedobject="selectSchool"
				localdata="schools"
				searchfields="school"
				titlefield="school"
				minlength="2"
				inputclass="form-control"
				matchclass="highlight" />		
		</div>
		<h5>Change Major</h5>
		<div>
			<angucomplete id="major"
				placeholder="{{selectMajor.major}}"
				pause="100"
				selectedobject="selectMajor"
				localdata="majors"
				searchfields="major"
				titlefield="major"
				minlength="1"
				inputclass="form-control"
				matchclass="highlight" />		
		</div>
		<h5>Change Living Area</h5>
		<div>
			<angucomplete id="area"
				placeholder="{{selectArea.area}}"
				pause="100"
				selectedobject="selectArea"
				localdata="regions"
				searchfields="area,state"
				titlefield="area,state"
				minlength="2"
				inputclass="form-control"
				matchclass="highlight" />		
		</div>
		<h5>Change Payback Rates</h5>
		<div>
			<div class="third">
				<h6>Years in School</h6>
				<input type="number" min="1" max="100" step="1" ng-model="term.yearsEnrolled" placeholder="{{yearsEnrolled}}"/>
			</div>
			<div class="third">
				<h6>Interest Rate</h6>
				<input type="number" min="0" max="100" step="0.01" ng-model="term.interest" placeholder="{{selectRate.interest}}"/>
			</div>
			<div class="third">
				<h6>Payback Term</h6>
				<input type="number" min="1" max="25" step="1" ng-model="term.term" placeholder="{{selectRate.term}}" />
			</div>
			<div>
				<h6>Financial Contributions</h6>
				<input type="number" min="0" max="500000" step="1" ng-model="term.compensation" placeholder="{{selectRate.compensation}}" />
			</div>
		</div>
		<div class="next black" ng-click="saveComplete(selectSchool.originalObject,selectArea.originalObject,selectMajor.originalObject,term.yearsEnrolled,term.interest,term.term,term.compensation)">Save</div>
		<div class="next red" ng-click="close()">Cancel</div>
	</div>
</section>