<!-- <h4>{{selectSchoolObj}}</h4>
<h4>{{selectMajorObj[0].start_sal | monthly}}</h4>
<h4>{{selectAreaObj}}</h4>
<h4>{{selectRate}}</h4>
<h1>{{selectPayments | money}}</h1>
 -->
<script type="text/javascript">
    setTimeout(function(){
        $('.complete').removeClass('loading');
    }, 50);
</script>

<section class="complete loading">
	
	<section class="complete" equalheight>

		<div class="result">
			<h4>{{result}}</h4>
		</div>
		
		<div class="final salary">
			<div class="summary black cont">
				<section>
					<div class="icon {{iconClass}}" id="smiley">
						<ng-include src="'img/smiley_faces.svg'" animatePoly></ng-include>
					</div>
					<h6>
						<span>Total Remaining</span>
					</h6>
					<span class="money">{{totalLeft | money}}</span>
					<div class="quote">
						<span>{{randomQuote}}</span>			
					</div>
					<div class="scolldown" ng-click="toExpenses()">
						<div class="down-arrow">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 71 71" enable-background="new 0 0 71 71" xml:space="preserve">
								<circle fill="none" stroke="#FFFFFF" stroke-width="5" cx="35.5" cy="35.5" r="32.5"/>
								<polyline fill="none" stroke="#FFFFFF" stroke-width="5" points="23,29 35,42 47,29 "/>
							</svg>
						</div>
						<p>scroll down to see the breakdown</p>
					</div>
				</section>
			</div>
			<div class="expenses red cont" id="total-expenses">
				<section>
					<h6>
						<span>Total Monthly Expenses</span>
					</h6>
					<span class="money">{{totalMonthly | money}}</span>				
				</section>
			</div>
		</div>
		
		<div class="school salary">
			<h4>with a degree in {{selectMajorObj[0].major}}</h4>
			<span class="career">{{currentSalary.title}} Monthly Salary</span>
			<span class="pay">{{selectMajorObj[0][currentSalary.val] | monthly}}</span>
		</div>

		<div class="school payment yellow">
			<aside>
				<h4>
					<span>School loan payment</span>
					<span>after attending</span>
				</h4>
				<span class="school sub">{{selectSchoolObj[0].school}}</span>
				<span class="interest sub">{{selectRate.interest}}% for {{selectRate.term}} years</span>
				<div class="next red" ng-click="open()";>Edit loan / salary info</div>	
			</aside>
			<article>
				<div class="icon">
					<ng-include src="'img/graduate.svg'"></ng-include>
				</div>
				<div class="pay">
					<span class="money">{{selectPayments | money}}</span>
					<span class="each">each month</span>
				</div>
			</article>
		</div>

		<div class="living payment green">
			<aside>
				<h4>
					<span>Living Expenses</span>
					<span>({{initExpenses.join(', ')}})</span>
				</h4>
				<span class="area sub">in {{selectAreaObj[0].area}}</span>
				<div class="next red" ng-click="openOverlay()";>Edit Living Expenses</div>
			</aside>
			<article>
				<div class="icon">
					<ng-include src="'img/money.svg'"></ng-include>
				</div>
				<div class="pay">
					<span class="money">{{livingExpenses | money}}</span>
					<span class="each">each month</span>
				</div>
			</article>

			<section class="overlay closed">
				<div class="container">
					<div class="half inputter">
						<h6>Housing</h6>
						<span>Average for your selected area is {{selectAreaObj[0].housing | money}}</span>
						<input type="number" min="0" max="100000" step="0.01" ng-model="expenses.housing"/>
					</div>
					<div class="half inputter">
						<h6>Food</h6>
						<span>Average for your selected area is {{selectAreaObj[0].food | money}}</span>
						<input type="number" min="0" max="100000" step="0.01" ng-model="expenses.food"/>
					</div>
					<div class="half inputter">
						<h6>Healthcare</h6>
						<span>Average premium for your selected state is {{selectAreaObj[0].premium | money}}</span>
						<input type="number" min="0" max="100000" step="0.01" ng-model="expenses.premium"/>
					</div>		
					<div class="half inputter">
						<h6>Transport</h6>
						<span>Average for your selected area is {{selectAreaObj[0].transportCOLI | coli}}</span>
						<input type="number" min="0" max="100000" step="0.01" ng-model="expenses.transport"/>
					</div>	
					<div class="half inputter">
						<h6>Childcare</h6>
						<span>Average for 3 children in your selected area is {{selectAreaObj[0].childEST | money}}</span>
						<input type="number" min="0" max="100000" step="0.01" ng-model="expenses.child"/>
					</div>	
					<div class="half inputter">
						<h6>Other</h6>
						<span>Average for your selected area is {{selectAreaObj[0].otherCOLI | coli}}</span>
						<input type="number" min="0" max="100000" step="0.01" ng-model="expenses.other"/>
					</div>
					<div class="next green" ng-click="updateExpense(expenses)">Save</div>
					<div class="next red" ng-click="closeOverlay()">cancel</div>			
				</div>
			</section>
		</div>

		<div class="taxes payment tan">
			<aside>
				<h4>
					<span>Taxes</span>
					<span>(Taken out of your check)</span>
				</h4>
			</aside>
			<article>
				<div class="icon">
					<ng-include src="'img/tax_time.svg'" animatePoly></ng-include>
				</div>
				<div class="pay">
					<!-- <span class="money">{{selectAreaObj[0].taxes}}</span>currentTaxes -->
					<span class="money">{{taxDisplay | monthly}}</span>
					<span class="each">each month</span>
				</div>
			</article>
		</div>

		<nav class="controls">
			<ul>
				<li class="update" ng-click="open()">
					<span>Edit Variables</span>
					<div>
						<ng-include src="'img/edit.svg'"></ng-include>
					</div>
				</li>		
				<li class="restart" ng-click="restart()">
					<span>Start Over</span>
					<div>
						<ng-include src="'img/restart.svg'"></ng-include>
					</div>
				</li>	
				<li class="share" ng-click="share()">
					<span>Share This</span>
					<div class="sharer icon">
						<ng-include src="'img/share.svg'"></ng-include>
						<ul class="medias">
					        <li ng-click="socialShare('facebook')">
					          <a href="#" id="share-facebook" class="share-btn">
					            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
					            <path d="M27.825,4.783c0-2.427-2.182-4.608-4.608-4.608H4.783c-2.422,0-4.608,2.182-4.608,4.608v18.434
					            c0,2.427,2.181,4.608,4.608,4.608H14V17.379h-3.379v-4.608H14v-1.795c0-3.089,2.335-5.885,5.192-5.885h3.718v4.608h-3.726
					            c-0.408,0-0.884,0.492-0.884,1.236v1.836h4.609v4.608h-4.609v10.446h4.916c2.422,0,4.608-2.188,4.608-4.608V4.783z"></path>
					            </svg>
					          </a>
					        </li>
					        <li ng-click="socialShare('twitter')">
					          <a href="#" id="share-twitter" class="share-btn">
					            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
					            <path d="M24.253,8.756C24.689,17.08,18.297,24.182,9.97,24.62c-3.122,0.162-6.219-0.646-8.861-2.32
					            c2.703,0.179,5.376-0.648,7.508-2.321c-2.072-0.247-3.818-1.661-4.489-3.638c0.801,0.128,1.62,0.076,2.399-0.155
					            C4.045,15.72,2.215,13.6,2.115,11.077c0.688,0.275,1.426,0.407,2.168,0.386c-2.135-1.65-2.729-4.621-1.394-6.965
					            C5.575,7.816,9.54,9.84,13.803,10.071c-0.842-2.739,0.694-5.64,3.434-6.482c2.018-0.623,4.212,0.044,5.546,1.683
					            c1.186-0.213,2.318-0.662,3.329-1.317c-0.385,1.256-1.247,2.312-2.399,2.942c1.048-0.106,2.069-0.394,3.019-0.851
					            C26.275,7.229,25.39,8.196,24.253,8.756z"></path>
					            </svg>
					          </a>
					        </li>
					        <li ng-click="socialShare('linkedin')">
					          <a href="#" id="share-linkedin" class="share-btn">
								<svg width="28px" height="28px" viewBox="0 0 512 512"><path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"/></svg>
					          </a>
					        </li>
						</ul>
					</div>
				</li>					
			</ul>
			<aside>
				<label for="url_copy">Copy link for current configuration:</label>
				<textarea readonly id="url_copy" onClick="this.setSelectionRange(0, this.value.length)">{{urlCopy}}</textarea>
			</aside>			
		</nav>

		<div class="did know">
			<h5>Did you know?</h5>
			<h4>Over 7,000,000</h4>
			<p>student loans are in default!</p>
			<a href="#">If you are a student in debt, click here to learn about your options</a>
		</div>

		<div class="other links">
			<a href="http://1p21.io" target="_blank">
				<div class="icon">
					<ng-include src="'img/1p21logo.svg'" animatePoly></ng-include>
				</div>				
			</a>
			<a href="http://www.wsbankruptcylaw.com" target="_blank">
				<img src="img/logo.jpg" />
			</a>
		</div>

	</section>

	<section class="edit form closed">
		<div class="container">
			<h5>Change School</h5>
			<div>
				<angucomplete id="school"
					placeholder="{{selectSchool.school}}"
					pause="100"
					selectedobject="selectSchool"
					localdata="schools"
					searchfields="school"
					titlefield="school"
					minlength="2"
					inputclass="form-control"
					matchclass="highlight" />		
			</div>
			<div class="half">
				<h5>Change Major</h5>
				<div>
					<angucomplete id="major"
						placeholder="{{selectMajor.major}}"
						pause="100"
						selectedobject="selectMajor"
						localdata="majors"
						searchfields="major"
						titlefield="major"
						minlength="1"
						inputclass="form-control"
						matchclass="highlight" />		
				</div>
			</div>
			<div class="half">
				<h5>Change Salary</h5>
				<div class="incomes">
					<select ng-model="currentSalary" ng-options="item.title for item in careers">
					</select>
				</div>
			</div>
			<h5>Change Living Area</h5>
			<div>
				<angucomplete id="area"
					placeholder="{{selectArea.area}} - {{selectArea.state}}"
					pause="100"
					selectedobject="selectArea"
					localdata="regions"
					searchfields="area,state"
					titlefield="area,state"
					minlength="2"
					inputclass="form-control"
					matchclass="highlight" />		
			</div>
			<h5>Change Payback Rates</h5>
			<div>
				<div class="third">
					<h6>Years in School</h6>
					<input type="number" min="1" max="100" step="1" ng-model="term.yearsEnrolled" placeholder="{{yearsEnrolled}}"/>
				</div>
				<div class="third">
					<h6>Interest Rate</h6>
					<input type="number" min="0" max="100" step="0.01" ng-model="term.interest" placeholder="{{selectRate.interest}}"/>
				</div>
				<div class="third">
					<h6>Payback Term</h6>
					<input type="number" min="1" max="25" step="1" ng-model="term.term" placeholder="{{selectRate.term}}" />
				</div>
				<div>
					<h6>Financial Contributions</h6>
					<h6>(Scholarships, Grants, Parents, Etc.)</h6>
					<h6>Your overall tuition is ${{schoolCost}}</h6>
					<input type="number" min="0" max="500000" step="1" ng-model="term.compensation" placeholder="{{selectRate.compensation}}" />
				</div>
			</div>
			<div class="next black" ng-click="saveComplete(selectSchool.originalObject,selectArea.originalObject,selectMajor.originalObject,term.yearsEnrolled,term.interest,term.term,currentSalary,term.compensation)">Save</div>
			<div class="next red" ng-click="close()">Cancel</div>
		</div>
	</section>

</section>