<div class="rates">
	<div>
		<input type="number" min="0" max="100" step="0.01" ng-model="rate.interest" />
		<input type="number" min="0" max="25" step="1" ng-model="rate.term" />
	</div>
	<div ng-click="goRatesDefault()">Find Default Rates</div>
	<div ng-click="goComplete(rate)">Finish</div>
</div>