<!DOCTYPE html>
<html ng-app="myApp" ng-class="{'yellow': $state.includes('tuition.school'), 'green': $state.includes('tuition.major'), 'red': $state.includes('tuition.area')}">
<head>
	<meta name="Description" content="Can you afford to pay for student loans and the cost of living?">
	<title>College Payment Generator</title>
	<link rel="shortcut icon" href="favicon.ico"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
	<style type="text/css">
		@import url(http://fast.fonts.net/t/1.css?apiType=css&projectid=a15e3747-7a15-4cc9-928b-ccd845e333c8);@font-face{font-family:"Oscine W01_n4";src:url(fonts/248086e5-0219-4d47-b59a-5cf105209e40.eot?#iefix) format("eot")}@font-face{font-family:"Oscine W01";src:url(fonts/248086e5-0219-4d47-b59a-5cf105209e40.eot?#iefix);src:url(fonts/248086e5-0219-4d47-b59a-5cf105209e40.eot?#iefix) format("eot"),url(fonts/5f43e68a-376d-42be-81e4-6a77ab7c255b.woff2) format("woff2"),url(fonts/014ebcdb-af2c-4d82-852b-5ba613fb1f60.woff) format("woff"),url(fonts/e8728afe-7164-41ad-8fc5-a97fcf040008.ttf) format("truetype"),url(fonts/8d85f201-bde0-43c0-95d3-38e9f8857701.svg#8d85f201-bde0-43c0-95d3-38e9f8857701) format("svg");font-weight:400;font-style:normal}@font-face{font-family:"Oscine W01_n7";src:url(fonts/24c34870-b214-41be-9b51-682af88a0e0b.eot?#iefix) format("eot")}@font-face{font-family:Oscine;src:url(fonts/24c34870-b214-41be-9b51-682af88a0e0b.eot?#iefix);src:url(fonts/24c34870-b214-41be-9b51-682af88a0e0b.eot?#iefix) format("eot"),url(fonts/ad019434-b24d-4f43-b3df-e010281597b3.woff2) format("woff2"),url(fonts/ac43d984-b5b7-46f6-9582-e588806d2758.woff) format("woff"),url(fonts/9f3cf0ba-cd87-451c-8014-321c17868c09.ttf) format("truetype"),url(fonts/06d9e45a-d536-4271-802e-7497710f90f5.svg#06d9e45a-d536-4271-802e-7497710f90f5) format("svg");font-weight:700;font-style:normal}
		.welcome .img.center,.welcome img{display:inline-block;max-width:30%;width:auto}.welcome .img.center,.welcome .imgcnt,.welcome h1,.welcome img{display:inline-block}.welcome h1,.welcome h1 .sm.yell{font-family:Oscine,sans-serif;letter-spacing:0;line-height:1}.welcome{white-space:pre-line}.welcome img{vertical-align:middle;height:250px}.welcome .img.center img{max-width:100%}@media all and (min-width:1024px){.welcome .img.center{margin:0 10px}}.welcome .imgcnt{height:290px;overflow:hidden;padding:0;white-space:normal;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-delay:0;animation-delay:0;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-name:open;animation-name:open}.welcome h1{max-width:825px;color:#fff;font-size:75px;text-transform:uppercase;white-space:initial}.welcome h1 span{display:block}.welcome h1 .sm.yell{color:#e6db5d;font-size:45px}.welcome .started,.welcome h3{display:inline-block;color:#fff;font-family:Oscine,sans-serif;letter-spacing:0}.welcome h3{max-width:775px;padding:0 0 25px;font-size:33px;line-height:1.2}.welcome .started{background-color:#ee6e53;border-radius:10px;cursor:pointer;height:75px;max-width:300px;opacity:0;font-size:35px;line-height:75px;text-transform:uppercase;transition:opacity .25s linear;width:95%}.welcome .started,.welcome .started.active{-moz-transition:opacity .25s linear;-o-transition:opacity .25s linear;-webkit-transition:opacity .25s linear}.welcome .started.active{opacity:1;transition:opacity .25s linear}
	</style>
</head>
<body ng-cloak="">
	<div class="main" ng-class="{'complete': $state.includes('tuition.complete') || $state.includes('saved')}">
	    <article ui-view ng-class="{'full-width': $state.includes('tuition.complete') || $state.includes('saved')}">
	    		<section class="welcome">
					<h1>living with student loans</h1>
					<h3>Can you afford to pay for student loans and the cost of living?</h3>

					<div class="started" ng-click="getStarted()">Get Started</div>
				</section>
	    </article>
	</div>
	<script>
		var cb = function() {
		var l = document.createElement('link'); l.rel = 'stylesheet';
		l.href = 'css/screen.css';
		var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
		};
		var raf = requestAnimationFrame || mozRequestAnimationFrame ||
		webkitRequestAnimationFrame || msRequestAnimationFrame;
		if (raf) raf(cb);
		else window.addEventListener('load', cb);
	</script>
	<!-- Libraries -->
	<script defer src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script defer src="js/angular.min.js"></script>
	<script defer src="js/mods.js"></script>
	<script defer src="app/app.min.js"></script>
	<!--
		<script src="js/angular-ui-router.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angucomplete.js"></script> 
		<script src="js/d3.min.js"></script>
		<script src="js/fastclick.min.js"></script>
		<script defer src="app/app.js"></script>
		<script defer src="app/data.js"></script>
		<script defer src="app/directives.js"></script>
		<script defer src="app/schoolCtrl.js"></script>
		<script defer src="js/ie10-viewport-bug-workaround.js"></script>-->

	<!-- AngularJS custom codes -->
</body>
</html>